<title>404 @ stormregion.org </title>
<link rel='shortcut icon' href='favicon.ico'>
<link rel='shortcut icon' href='/favicon.ico'>
<style>
#mid {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  font-family: monospace;
}
a {
    color: black;
	font-family: monospace;
}
a:link {
    text-decoration: none;
	font-family: monospace;
}

</style>
<body>
    <div id="mid">
        <font size="7"><b>404 </b></font>
		<br> Page not found
		<br><br><a href="//stormregion.org"><b> Go to main page? </b></a>
		<br><br><br><small>&copy; <b>stormregion.org</b> maintainers</small>
    </div>
</body>
