---
layout: null
---
{% include base.html %}
 <!-- end of site base -->
            <tr height='2'>
                <td></td>
            </tr>
        </table>
    </td>
</tr>
	<tr style='background-image: url(./templates/base/images/header/index_07.gif); background-repeat: repeat-x;' valign='top' height='62'>
		<td colspan='2'>
		<table width="1000" height='62' border="0" cellpadding="0" cellspacing="0">
		<tr valign='bottom'><td rowspan="2" width="169" height="62" ><img src="./templates/base/images/header/index_04.gif" width="169" height="62" alt=""></td>
		<td width="74" height="44" colspan="2" style='background-image: url(./templates/base/images/header/index_06.gif); background-position:top left; background-repeat: no-repeat;'></td>
		<td rowspan="2" align='center' height="62">
			<!--<embed src="./templates/base/images/header/banner.swf" style="z-index: -1;"  wmode="opaque" height="55" width="445"></embed>
			 <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/ca" width="445" title="NATO Harci Pilóta Toborzás!" align="bottom" height="55">
                    		<param name="movie" value="./templates/base/images/header/banner.swf">
              		<param name="quality" value="high">
                    		<embed src="./templates/base/images/header/banner.swf" quality="high" name="nato_mini" style="z-index: -1;"  wmode="opaque" type="application/x" pluginspage="http://www.macromedia.com/go/getflashpl" title="NATO Harci Pilóta Toborzás!" align="allowScriptAccess=&quot;sameDomain&quot;" height="55" width="445">
            		</object>    -->
		</td>
		<td width='148'></td>
		</tr>
		<tr> <!-- this place was fixed, see images in admin folder "SRbeforeFIX" "SRafterFIX" -->
			<td height="18">
				<img src="./templates/base/images/header/titles/headerBottomNews.gif" height="18" alt=""><img src="./templates/base/images/header/index_10.gif" width="20" height="18" alt=""></td>
			<td>
				</td></tr>
		</table>
		</td>
	</tr>
	<tr style='background-image: url(./templates/base/images/header/index_13.gif); background-repeat: repeat-x;' valign='top' height="19">
		<td colspan='2'>
		<table width="1000"  border="0" cellpadding="0" cellspacing="0">
		<tr height="19">
		<td width="148">
			<img src="./templates/base/images/header/index_11.gif" width="148" height="19" alt=""></td>
		<td width="22">
			<img src="./templates/base/images/header/index_12.gif" width="22" height="19" alt=""></td>
		<td width='669'></td>
		<td width="13">
			<img src="./templates/base/images/header/index_16.gif" width="13" height="19" alt=""></td>
		<td  width="148">
			<img src="./templates/base/images/header/index_17.gif" width="148" height="19" alt=""></td></tr>
		</table>
		</td>
	</tr>
		<tr bgcolor='#D9D9D9' valign='top' height='8'>
		<td colspan='2'>
		<table width="1000"  border="0" cellpadding="0" cellspacing="0">
		<tr height="8"><td width="212">
			<img src="./templates/base/images/header/index_18.gif" width="212" height="8" alt=""></td>
		<td width='575'></td>
		<td width="213">
			<img src="./templates/base/images/header/index_21.gif" width="213" height="8" alt=""></td>
		</tr>
		</table>
		</td>
	</tr>
</table>
</td></tr>

<!-- sidebar tags -->
<tr>
	<td width='144' height='100%' valign='top' style='background-image: url(./templates/base/images/leftBG.gif)' align='left'>
 {% include inc_poll.html %}
 {% include inc_screenshot.html %}
 <!-- page stuff.. finally! -->
<input type='hidden' name='activepage2' value='news.php'><input type='hidden' name='activemenuid2' value='news'><input type='hidden' name='activesubmenuid2' value='-1'>
<input type='hidden' name='activeprojectid2' value='-1'><input type='hidden' name='articleid2' value=''>
<td width="712" bgcolor="#DBDBDB" valign="top"><table cellpadding="5" cellspacing="0" border="0" bgcolor="#DBDBDB" width="100%"><tbody><tr><td><table cellpadding="0" cellspacing="0" border="0" width="100%">
<tbody><tr>
	<td width="170" align="right" valign="top">
		<img src="./admin/project/104.jpg" alt="Rush For Berlin" title="Rush For Berlin">
	</td>
	<td>
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tbody><tr>
			<td width="33%" align="center" valign="top">
				<table cellpadding="3" cellspacing="0" border="0" width="100%">
				<tbody><tr><td align="center" class="awardTitle">Zocker 4 Fun</td></tr>
				<tr>
					<td align="center" valign="middle">
						<img src="./admin/fileGallery/rfb13.jpg">
					</td>
				</tr>
				<tr><td height="15"></td></tr>
				</tbody></table>
			</td>

			<td width="33%" align="center" valign="top">
				<table cellpadding="3" cellspacing="0" border="0" width="100%">
				<tbody><tr><td align="center" class="awardTitle">Technic3D</td></tr>
				<tr>
					<td align="center" valign="middle">
						<img src="./admin/fileGallery/rfb14.jpg">
					</td>
				</tr>
				<tr><td height="15"></td></tr>
				</tbody></table>
			</td>

			<td width="33%" align="center" valign="top">
				<table cellpadding="3" cellspacing="0" border="0" width="100%">
				<tbody><tr><td align="center" class="awardTitle">Zocker Heaven</td></tr>
				<tr>
					<td align="center" valign="middle">
						<img src="./admin/fileGallery/rfb12.jpg">
					</td>
				</tr>
				<tr><td height="15"></td></tr>
				</tbody></table>
			</td>
			</tr><tr>
			<td width="33%" align="center" valign="top">
				<table cellpadding="3" cellspacing="0" border="0" width="100%">
				<tbody><tr><td align="center" class="awardTitle">PC Games Hardware</td></tr>
				<tr>
					<td align="center" valign="middle">
						<img src="./admin/fileGallery/rfb11.jpg">
					</td>
				</tr>
				<tr><td height="15"></td></tr>
				</tbody></table>
			</td>

			<td width="33%" align="center" valign="top">
				<table cellpadding="3" cellspacing="0" border="0" width="100%">
				<tbody><tr><td align="center" class="awardTitle">Gamona</td></tr>
				<tr>
					<td align="center" valign="middle">
						<img src="./admin/fileGallery/rfb10.jpg">
					</td>
				</tr>
				<tr><td height="15"></td></tr>
				</tbody></table>
			</td>

			<td width="33%" align="center" valign="top">
				<table cellpadding="3" cellspacing="0" border="0" width="100%">
				<tbody><tr><td align="center" class="awardTitle">Next</td></tr>
				<tr>
					<td align="center" valign="middle">
						<img src="./admin/fileGallery/rfb09.jpg">
					</td>
				</tr>
				<tr><td height="15"></td></tr>
				</tbody></table>
			</td>
			</tr><tr>
			<td width="33%" align="center" valign="top">
				<table cellpadding="3" cellspacing="0" border="0" width="100%">
				<tbody><tr><td align="center" class="awardTitle">Gamer Network</td></tr>
				<tr>
					<td align="center" valign="middle">
						<img src="./admin/fileGallery/rfb08.jpg">
					</td>
				</tr>
				<tr><td height="15"></td></tr>
				</tbody></table>
			</td>

			<td width="33%" align="center" valign="top">
				<table cellpadding="3" cellspacing="0" border="0" width="100%">
				<tbody><tr><td align="center" class="awardTitle">Gamershall</td></tr>
				<tr>
					<td align="center" valign="middle">
						<img src="./admin/fileGallery/rfb07.jpg">
					</td>
				</tr>
				<tr><td height="15"></td></tr>
				</tbody></table>
			</td>

			<td width="33%" align="center" valign="top">
				<table cellpadding="3" cellspacing="0" border="0" width="100%">
				<tbody><tr><td align="center" class="awardTitle">PC Action</td></tr>
				<tr>
					<td align="center" valign="middle">
						<img src="./admin/fileGallery/rfb05.jpg">
					</td>
				</tr>
				<tr><td height="15"></td></tr>
				</tbody></table>
			</td>
			</tr><tr>
			<td width="33%" align="center" valign="top">
				<table cellpadding="3" cellspacing="0" border="0" width="100%">
				<tbody><tr><td align="center" class="awardTitle">PC Games</td></tr>
				<tr>
					<td align="center" valign="middle">
						<img src="./admin/fileGallery/rfb06.jpg">
					</td>
				</tr>
				<tr><td height="15"></td></tr>
				</tbody></table>
			</td>

			<td width="33%" align="center" valign="top">
				<table cellpadding="3" cellspacing="0" border="0" width="100%">
				<tbody><tr><td align="center" class="awardTitle">Gamers.at</td></tr>
				<tr>
					<td align="center" valign="middle">
						<img src="./admin/fileGallery/rfb03.jpg">
					</td>
				</tr>
				<tr><td height="15"></td></tr>
				</tbody></table>
			</td>

			<td width="33%" align="center" valign="top">
				<table cellpadding="3" cellspacing="0" border="0" width="100%">
				<tbody><tr><td align="center" class="awardTitle">Heftig!</td></tr>
				<tr>
					<td align="center" valign="middle">
						<img src="./admin/fileGallery/rfb04.jpg">
					</td>
				</tr>
				<tr><td height="15"></td></tr>
				</tbody></table>
			</td>
			</tr><tr>
			<td width="33%" align="center" valign="top">
				<table cellpadding="3" cellspacing="0" border="0" width="100%">
				<tbody><tr><td align="center" class="awardTitle">The Battlefield</td></tr>
				<tr>
					<td align="center" valign="middle">
						<img src="./admin/fileGallery/rfb02.jpg">
					</td>
				</tr>
				<tr><td height="15"></td></tr>
				</tbody></table>
			</td>

			<td width="33%" align="center" valign="top">
				<table cellpadding="3" cellspacing="0" border="0" width="100%">
				<tbody><tr><td align="center" class="awardTitle">Gamecity</td></tr>
				<tr>
					<td align="center" valign="middle">
						<img src="./admin/fileGallery/rfb01.jpg">
					</td>
				</tr>
				<tr><td height="15"></td></tr>
				</tbody></table>
			</td>

		</tr>
		</tbody></table>
	</td>
</tr>
<tr><td height="15" colspan="2"></td></tr>
<tr><td height="1" bgcolor="#000000" colspan="2"></td></tr>
<tr><td height="12" colspan="2"></td></tr>
</tbody></table>
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tbody><tr>
	<td width="170" align="right" valign="top">
		<img src="./admin/project/101.jpg" alt="Codename: Panzers Phase Two" title="Codename: Panzers Phase Two">
	</td>
	<td>
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tbody><tr>
			<td width="33%" align="center" valign="top">
				<table cellpadding="3" cellspacing="0" border="0" width="100%">
				<tbody><tr><td align="center" class="awardTitle">Game Informer</td></tr>
				<tr>
					<td align="center" valign="middle">
						<img src="./admin/fileGallery/aladar.jpg">
					</td>
				</tr>
				<tr><td height="15"></td></tr>
				</tbody></table>
			</td>

			<td width="33%" align="center" valign="top">
				<table cellpadding="3" cellspacing="0" border="0" width="100%">
				<tbody><tr><td align="center" class="awardTitle">PC Games award</td></tr>
				<tr>
					<td align="center" valign="middle">
						<img src="./admin/fileGallery/pcGames2.jpg">
					</td>
				</tr>
				<tr><td height="15"></td></tr>
				</tbody></table>
			</td>

			<td width="33%" align="center" valign="top">
				<table cellpadding="3" cellspacing="0" border="0" width="100%">
				<tbody><tr><td align="center" class="awardTitle">SFT award</td></tr>
				<tr>
					<td align="center" valign="middle">
						<img src="./admin/fileGallery/sft.jpg">
					</td>
				</tr>
				<tr><td height="15"></td></tr>
				</tbody></table>
			</td>
			</tr><tr>
			<td width="33%" align="center" valign="top">
				<table cellpadding="3" cellspacing="0" border="0" width="100%">
				<tbody><tr><td align="center" class="awardTitle">PC Games award</td></tr>
				<tr>
					<td align="center" valign="middle">
						<img src="./admin/fileGallery/pcGames.jpg">
					</td>
				</tr>
				<tr><td height="15"></td></tr>
				</tbody></table>
			</td>

			<td width="33%" align="center" valign="top">
				<table cellpadding="3" cellspacing="0" border="0" width="100%">
				<tbody><tr><td align="center" class="awardTitle">PC Action award</td></tr>
				<tr>
					<td align="center" valign="middle">
						<img src="./admin/fileGallery/pcAction.jpg">
					</td>
				</tr>
				<tr><td height="15"></td></tr>
				</tbody></table>
			</td>

			<td width="33%" align="center" valign="top">
				<table cellpadding="3" cellspacing="0" border="0" width="100%">
				<tbody><tr><td align="center" class="awardTitle">Hardware award</td></tr>
				<tr>
					<td align="center" valign="middle">
						<img src="./admin/fileGallery/hardware.jpg">
					</td>
				</tr>
				<tr><td height="15"></td></tr>
				</tbody></table>
			</td>
			</tr><tr>
			<td width="33%" align="center" valign="top">
				<table cellpadding="3" cellspacing="0" border="0" width="100%">
				<tbody><tr><td align="center" class="awardTitle">Gamestar award</td></tr>
				<tr>
					<td align="center" valign="middle">
						<img src="./admin/fileGallery/gameStar2.jpg">
					</td>
				</tr>
				<tr><td height="15"></td></tr>
				</tbody></table>
			</td>

			<td width="33%" align="center" valign="top">
				<table cellpadding="3" cellspacing="0" border="0" width="100%">
				<tbody><tr><td align="center" class="awardTitle">Gamestar award</td></tr>
				<tr>
					<td align="center" valign="middle">
						<img src="./admin/fileGallery/gameStar.jpg">
					</td>
				</tr>
				<tr><td height="15"></td></tr>
				</tbody></table>
			</td>

			<td width="33%" align="center" valign="top">
				<table cellpadding="3" cellspacing="0" border="0" width="100%">
				<tbody><tr><td align="center" class="awardTitle">Computer Bild Spiele award</td></tr>
				<tr>
					<td align="center" valign="middle">
						<img src="./admin/fileGallery/computerSpiele.jpg">
					</td>
				</tr>
				<tr><td height="15"></td></tr>
				</tbody></table>
			</td>
			</tr><tr>
		</tr>
		</tbody></table>
	</td>
</tr>
<tr><td height="15" colspan="2"></td></tr>
<tr><td height="1" bgcolor="#000000" colspan="2"></td></tr>
<tr><td height="12" colspan="2"></td></tr>
</tbody></table>
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tbody><tr>
	<td width="170" align="right" valign="top">
		<img src="./admin/project/100.jpg" alt="Codename: Panzers Phase One" title="Codename: Panzers Phase One">
	</td>
	<td>
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tbody><tr>
			<td width="33%" align="center" valign="top">
				<table cellpadding="3" cellspacing="0" border="0" width="100%">
				<tbody><tr><td align="center" class="awardTitle">PC Extreme award</td></tr>
				<tr>
					<td align="center" valign="middle">
						<img src="./admin/fileGallery/award11.jpg">
					</td>
				</tr>
				<tr><td height="15"></td></tr>
				</tbody></table>
			</td>

			<td width="33%" align="center" valign="top">
				<table cellpadding="3" cellspacing="0" border="0" width="100%">
				<tbody><tr><td align="center" class="awardTitle">Real Gamer award</td></tr>
				<tr>
					<td align="center" valign="middle">
						<img src="./admin/fileGallery/award9.jpg">
					</td>
				</tr>
				<tr><td height="15"></td></tr>
				</tbody></table>
			</td>

			<td width="33%" align="center" valign="top">
				<table cellpadding="3" cellspacing="0" border="0" width="100%">
				<tbody><tr><td align="center" class="awardTitle">PC Action Game of the Month award</td></tr>
				<tr>
					<td align="center" valign="middle">
						<img src="./admin/fileGallery/award10.jpg">
					</td>
				</tr>
				<tr><td height="15"></td></tr>
				</tbody></table>
			</td>
			</tr><tr>
			<td width="33%" align="center" valign="top">
				<table cellpadding="3" cellspacing="0" border="0" width="100%">
				<tbody><tr><td align="center" class="awardTitle">Jolt award</td></tr>
				<tr>
					<td align="center" valign="middle">
						<img src="./admin/fileGallery/award12.jpg">
					</td>
				</tr>
				<tr><td height="15"></td></tr>
				</tbody></table>
			</td>

			<td width="33%" align="center" valign="top">
				<table cellpadding="3" cellspacing="0" border="0" width="100%">
				<tbody><tr><td align="center" class="awardTitle">Gamers.com award</td></tr>
				<tr>
					<td align="center" valign="middle">
						<img src="./admin/fileGallery/award13.jpg">
					</td>
				</tr>
				<tr><td height="15"></td></tr>
				</tbody></table>
			</td>

			<td width="33%" align="center" valign="top">
				<table cellpadding="3" cellspacing="0" border="0" width="100%">
				<tbody><tr><td align="center" class="awardTitle">Custom PC award</td></tr>
				<tr>
					<td align="center" valign="middle">
						<img src="./admin/fileGallery/award14.jpg">
					</td>
				</tr>
				<tr><td height="15"></td></tr>
				</tbody></table>
			</td>
			</tr><tr>
			<td width="33%" align="center" valign="top">
				<table cellpadding="3" cellspacing="0" border="0" width="100%">
				<tbody><tr><td align="center" class="awardTitle">Game Captain award</td></tr>
				<tr>
					<td align="center" valign="middle">
						<img src="./admin/fileGallery/award3.jpg">
					</td>
				</tr>
				<tr><td height="15"></td></tr>
				</tbody></table>
			</td>

			<td width="33%" align="center" valign="top">
				<table cellpadding="3" cellspacing="0" border="0" width="100%">
				<tbody><tr><td align="center" class="awardTitle">Gamestar award</td></tr>
				<tr>
					<td align="center" valign="middle">
						<img src="./admin/fileGallery/award1.jpg">
					</td>
				</tr>
				<tr><td height="15"></td></tr>
				</tbody></table>
			</td>

			<td width="33%" align="center" valign="top">
				<table cellpadding="3" cellspacing="0" border="0" width="100%">
				<tbody><tr><td align="center" class="awardTitle">Gamershell award</td></tr>
				<tr>
					<td align="center" valign="middle">
						<img src="./admin/fileGallery/award6.jpg">
					</td>
				</tr>
				<tr><td height="15"></td></tr>
				</tbody></table>
			</td>
			</tr><tr>
			<td width="33%" align="center" valign="top">
				<table cellpadding="3" cellspacing="0" border="0" width="100%">
				<tbody><tr><td align="center" class="awardTitle">Gbase award</td></tr>
				<tr>
					<td align="center" valign="middle">
						<img src="./admin/fileGallery/award7.jpg">
					</td>
				</tr>
				<tr><td height="15"></td></tr>
				</tbody></table>
			</td>

			<td width="33%" align="center" valign="top">
				<table cellpadding="3" cellspacing="0" border="0" width="100%">
				<tbody><tr><td align="center" class="awardTitle">Just Gamers</td></tr>
				<tr>
					<td align="center" valign="middle">
						<img src="./admin/fileGallery/award4.jpg">
					</td>
				</tr>
				<tr><td height="15"></td></tr>
				</tbody></table>
			</td>

			<td width="33%" align="center" valign="top">
				<table cellpadding="3" cellspacing="0" border="0" width="100%">
				<tbody><tr><td align="center" class="awardTitle">Zocker-heaven</td></tr>
				<tr>
					<td align="center" valign="middle">
						<img src="./admin/fileGallery/award5.jpg">
					</td>
				</tr>
				<tr><td height="15"></td></tr>
				</tbody></table>
			</td>
			</tr><tr>
			<td width="33%" align="center" valign="top">
				<table cellpadding="3" cellspacing="0" border="0" width="100%">
				<tbody><tr><td align="center" class="awardTitle">PC Games</td></tr>
				<tr>
					<td align="center" valign="middle">
						<img src="./admin/fileGallery/award2.jpg">
					</td>
				</tr>
				<tr><td height="15"></td></tr>
				</tbody></table>
			</td>

			<td width="33%" align="center" valign="top">
				<table cellpadding="3" cellspacing="0" border="0" width="100%">
				<tbody><tr><td align="center" class="awardTitle">PC Action</td></tr>
				<tr>
					<td align="center" valign="middle">
						<img src="./admin/fileGallery/award8.jpg">
					</td>
				</tr>
				<tr><td height="15"></td></tr>
				</tbody></table>
			</td>

		</tr>
		</tbody></table>
	</td>
</tr>
<tr><td height="15" colspan="2"></td></tr>
<tr><td height="1" bgcolor="#000000" colspan="2"></td></tr>
<tr><td height="12" colspan="2"></td></tr>
</tbody></table>

</td></tr></tbody></table></td>
</td>
</td>

<!-- end page stuff -->

<td width='144' style='background-image: url(./templates/base/images/rightBG.gif)' valign='top' align='right'>
    <table cellpadding='0' cellspacing='0' border='0' width='144'>
        <tr>
            <td width='9'><img src='./templates/base/images/box/rightSeparator.gif' alt='' title=''></td>
            <td width='135' bgcolor='#4372A4'>
			{% include inc_login.html %}
</td></tr><tr><td colspan='2'><img src='./templates/base/images/separator.gif' alt='' title=''></td></table><table width='144' cellpadding='0' cellspacing='0' border='0' style='background-image: url(./templates/base/images/topTopic/bgTile.gif)'>
<tr>
	<td colspan='2'>
		<img src='./templates/base/images/topTopic/header.gif' alt='' title=''>
	</td>
</tr>
{% include inc_top5.html %}
</table>

{% include inc_instore.html %}
</td></tr><tr><td height='26' bgcolor='#4976A6' align='center' valign='middle' class='whiteText' colspan='3'>
<table width='1000' cellpadding='0' cellspacing='0' border='0'>
	{% include inc_copy.html %}
</table>
</td></tr></table></center></body>
{% include extras/cookies.html %}
</html>
