---
layout: null
---
{% include base.html %}
 <!-- end of site base -->
            <tr height='2'>
                <td></td>
            </tr>
        </table>
    </td>
</tr>
	<tr style='background-image: url(./templates/base/images/header/index_07.gif); background-repeat: repeat-x;' valign='top' height='62'>
		<td colspan='2'>
		<table width="1000" height='62' border="0" cellpadding="0" cellspacing="0">
      <tr valign="bottom"><td rowspan="2" width="169" height="62"><img src="./templates/base/images/header/index_04.gif" width="169" height="62" alt=""></td>
      		<td width="74" height="44" colspan="2" style="background-image: url(./templates/base/images/header/index_06.gif); background-position:top left; background-repeat: no-repeat;"></td>
      		<td rowspan="2" align="center" height="62">
      			<!--<embed src="/web/20070818103541oe_///www.stormregion.org/templates/base/images/header/banner.swf" style="z-index: -1;" wmode="opaque" height="55" width="445">
      			 <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/ca" width="445" title="NATO Harci Pilóta Toborzás!" align="bottom" height="55">
                          		<param name="movie" value="./templates/base/images/header/banner.swf">
                    		<param name="quality" value="high">
                          		<embed src="./templates/base/images/header/banner.swf" quality="high" name="nato_mini" style="z-index: -1;"  wmode="opaque" type="application/x" pluginspage="http://www.macromedia.com/go/getflashpl" title="NATO Harci Pilóta Toborzás!" align="allowScriptAccess=&quot;sameDomain&quot;" height="55" width="445">
                  		</object>    -->
      		</td>
      		<td width="148"></td>
      		</tr>
		<tr> <!-- this place was fixed, see images in admin folder "SRbeforeFIX" "SRafterFIX" -->
			<td height="18">
				<img src="./templates/base/images/header/titles/headerBottomNews.gif" height="18" alt=""><img src="./templates/base/images/header/index_10.gif" width="20" height="18" alt=""></td>
			<td>
				</td></tr>
		</table>
		</td>
	</tr>
	<tr style='background-image: url(./templates/base/images/header/index_13.gif); background-repeat: repeat-x;' valign='top' height="19">
		<td colspan='2'>
		<table width="1000"  border="0" cellpadding="0" cellspacing="0">
		<tr height="19">
		<td width="148">
			<img src="./templates/base/images/header/index_11.gif" width="148" height="19" alt=""></td>
		<td width="22">
			<img src="./templates/base/images/header/index_12.gif" width="22" height="19" alt=""></td>
		<td width='669'></td>
		<td width="13">
			<img src="./templates/base/images/header/index_16.gif" width="13" height="19" alt=""></td>
		<td  width="148">
			<img src="./templates/base/images/header/index_17.gif" width="148" height="19" alt=""></td></tr>
		</table>
		</td>
	</tr>
		<tr bgcolor='#D9D9D9' valign='top' height='8'>
		<td colspan='2'>
		<table width="1000"  border="0" cellpadding="0" cellspacing="0">
		<tr height="8"><td width="212">
			<img src="./templates/base/images/header/index_18.gif" width="212" height="8" alt=""></td>
		<td width='575'></td>
		<td width="213">
			<img src="./templates/base/images/header/index_21.gif" width="213" height="8" alt=""></td>
		</tr>
		</table>
		</td>
	</tr>
</table>
</td></tr>

<!-- sidebar tags -->
<tr>
  <td width='144' height='100%' valign='top' style='background-image: url(./templates/base/images/leftBG.gif)' align='left'>

  <!-- download and info start -->
<table cellpadding="0" cellspacing="0" border="0" width="144"><tbody><tr><td width="135" bgcolor="#4372A4"><table cellpadding="0" cellspacing="0" border="0" width="100%">
<tbody><tr>
	<td height="10" colspan="3"></td>
</tr>
	<tr>
		<td width="9"></td>
		<td width="18"></td>
	<tr>
		<td width="9"></td>
		<td colspan="2"><a href="index.php?sid=33c990856d361a869d772175b138b723&amp;activeSubMenuID=rfb_download&amp;activeMenuID=rfb" class="selectedMenuText">News</a></td>
	</tr>
	<tr>
		<td width="9"></td>
		<td colspan="2" height="1" style="background-image: url(./templates/base/images/extraMenu/line.gif)"></td>
	</tr>
	<tr>
		<td height="5" colspan="3"></td>
	</tr>
	<tr>
		<td width="9"></td>
		<td width="18"></td>
		<td><a href="index.php?sid=33c990856d361a869d772175b138b723&amp;activeSubMenuID=rfb_gallery&amp;activeMenuID=rfb" class="menuText">Details</a></td>
	</tr>
	<tr>
		<td colspan="2"></td>
		<td height="1" style="background-image: url(./templates/base/images/extraMenu/line.gif)"></td>
	</tr>
	<tr>
		<td height="5" colspan="3"></td>
	</tr>
	<tr>
		<td width="9"></td>
		<td width="18"></td>
		<td><a href="https://web.archive.org/web/20070818103541/http://www.rushforberlin.com/" class="menuText" target="_blank">Downloads</a></td>
	</tr>
	<tr>
		<td colspan="2"></td>
		<td height="1" style="background-image: url(./templates/base/images/extraMenu/line.gif)"></td>
	</tr>
	<tr>
		<td height="5" colspan="3"></td>
	</tr>
	<tr>
		<td width="9"></td>
		<td width="18"></td>
		<td><a href="index.php?sid=33c990856d361a869d772175b138b723&amp;activeSubMenuID=rfb_media&amp;serialProjectID=104&amp;activeMenuID=rfb" class="menuText">Screenshots</a></td>
	</tr>
	<tr>
		<td colspan="2"></td>
		<td height="1" style="background-image: url(./templates/base/images/extraMenu/line.gif)"></td>
	</tr>
	<tr>
		<td height="5" colspan="3"></td>
	</tr>
  <tr>
    <td width="9"></td>
    <td width="18"></td>
    <td><a href="index.php?sid=33c990856d361a869d772175b138b723&amp;activeSubMenuID=rfb_media&amp;serialProjectID=104&amp;activeMenuID=rfb" class="menuText">Media</a></td>
  </tr>
  <tr>
    <td colspan="2"></td>
    <td height="1" style="background-image: url(./templates/base/images/extraMenu/line.gif)"></td>
  </tr>
  <tr>
    <td height="5" colspan="3"></td>
  </tr>
	<tr>
		<td width="9"></td>
		<td width="18"></td>
		<td><a href="index.php?sid=33c990856d361a869d772175b138b723&amp;activeSubMenuID=mod2&amp;activeMenuID=rfb" class="menuText">Mods</a></td>
	</tr>
	<tr>
		<td colspan="2"></td>
		<td height="1" style="background-image: url(./templates/base/images/extraMenu/line.gif)"></td>
	</tr>
	<tr>
		<td height="5" colspan="3"></td>
	</tr>
	<tr>
		<td width="9"></td>
	</tr><tr>
		<td height="5" colspan="3"></td>
	</tr>
<tr>
	<td height="10" colspan="3"></td>
</tr>
</tbody></table>
</td><td width="9"><img src="./templates/base/images/box/leftSeparator.gif" alt="" title=""></td></tr><tr><td colspan="2"><img src="./templates/base/images/separator.gif" alt="" title=""></td></tr></tbody></table>

<!-- download and info end -->

<!-- poll start -->
{% include inc_poll.html %}
<!-- poll end -->
<!-- screenShot start -->
{% include inc_screenshot.html %}
<!-- screenShot end -->
<!-- page stuff.. finally! -->
<input type='hidden' name='activepage2' value='news.php'><input type='hidden' name='activemenuid2' value='news'><input type='hidden' name='activesubmenuid2' value='-1'>
<input type='hidden' name='activeprojectid2' value='-1'><input type='hidden' name='articleid2' value=''>

<td width="712" bgcolor="#DBDBDB" valign="top"><table cellpadding="5" cellspacing="0" border="0" bgcolor="#DBDBDB" width="100%"><tbody><tr><td><table cellpadding="0" cellspacing="0" border="0" width="100%">
<tbody><tr>
	<td width="12" height="19"><img src="//www.stormregion.org/templates/base/images/download/headerLeftCorner.gif" alt="" title=""></td>
	<td height="19" style="background-image: url(./templates/base/images/download/headerTile.gif);" width="100%" class="yellowLink">
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tbody><tr>
			<td class="awardHeader">S.W.I.N.E.</td>
			<td align="right"></td>
		</tr>
		</tbody></table>
	</td>
	<td width="29" height="19"><img src="//www.stormregion.org/templates/base/images/download/headerRightCorner.gif" alt="" title=""></td>
</tr></tbody></table>

<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tbody><tr bgcolor="#DBDBDB">
	<td width="12"></td>
	<td>
		<table width="100%" cellpadding="0" cellspacing="0" border="0">
		<tbody><tr bgcolor="#DBDBDB">
			<td align="left" valign="middle"><table cellpadding="0" cellspacing="0" border="0">
				<tbody><tr><td height="2"></td></tr>
				<tr>
					<td class="downloadTitle">S.W.I.N.E. Hungarian Manual</td>
				</tr>
				<tr><td height="1"></td></tr>
				<tr>
					<td class="downloadSize">manual_magyar12.pdf (6.03 Mb)</td>
				</tr>
		</tbody></table>
	</td>
	<td align="right" valign="middle">
			<a class="newsRelatedLink" href="//www.stormregion.org/admin/fileGallery/manual_magyar12.pdf">
			<!--<a href='javascript:void(0);' onclick="window.open('pages/downloadManager.php?fileID=192','','screenx=50, screeny=50,width=320,height=240,statusbar=1,scrollbars=1');">-->
			<img src="//www.stormregion.org/templates/base/images/download/download1.gif" border="0" alt="Download it!" title="Download it!"></a></td>
</tr>
<tr bgcolor="#DBDBDB">
	<td colspan="2"><table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tbody><tr><td width="591" style="background-image: url(//www.stormregion.org/templates/base/images/download/line1.gif)"></td>
			<td align="right" class="downloadDate">&nbsp;&nbsp;2007-02-06</td></tr>
	</tbody></table></td>
</tr>
<tr bgcolor="#DBDBDB">
	<td colspan="2" class="downloadText">The Hungarian Manual of the S.W.I.N.E.</td>
</tr>
<tr bgcolor="#DBDBDB">
	<td height="2" colspan="2"></td>
</tr>
</tbody></table>

</td><td width="12"></td></tr><tr><td colspan="2" height="2"></td></tr></tbody></table>
<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tbody><tr bgcolor="#EAEAEA">
	<td width="12"></td>
	<td>
		<table width="100%" cellpadding="0" cellspacing="0" border="0">
		<tbody><tr bgcolor="#EAEAEA">
			<td align="left" valign="middle"><table cellpadding="0" cellspacing="0" border="0">
				<tbody><tr><td height="2"></td></tr>
				<tr>
					<td class="downloadTitle">S.W.I.N.E. 1.4 -&gt; 1.9 patch (English)</td>
				</tr>
				<tr><td height="1"></td></tr>
				<tr>
					<td class="downloadSize">swine_1.9_patch_en.zip (5.41 Mb)</td>
				</tr>
		</tbody></table>
	</td>
	<td align="right" valign="middle">
			<a class="newsRelatedLink" href="//www.stormregion.org/admin/fileGallery/swine_1.9_patch_en.zip">
			<!--<a href='javascript:void(0);' onclick="window.open('pages/downloadManager.php?fileID=168','','screenx=50, screeny=50,width=320,height=240,statusbar=1,scrollbars=1');">-->
			<img src="//www.stormregion.org/templates/base/images/download/download2.gif" border="0" alt="Download it!" title="Download it!"></a></td>
</tr>
<tr bgcolor="#EAEAEA">
	<td colspan="2"><table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tbody><tr><td width="591" style="background-image: url(//www.stormregion.org/templates/base/images/download/line2.gif)"></td>
			<td align="right" class="downloadDate">&nbsp;&nbsp;2006-01-06</td></tr>
	</tbody></table></td>
</tr>
<tr bgcolor="#EAEAEA">
	<td colspan="2" class="downloadText">English 1.9 patch (no need to use with the Free Christmas Edition!)</td>
</tr>
<tr bgcolor="#EAEAEA">
	<td height="2" colspan="2"></td>
</tr>
</tbody></table>

</td><td width="12"></td></tr><tr><td colspan="2" height="2"></td></tr></tbody></table>
<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tbody><tr bgcolor="#DBDBDB">
	<td width="12"></td>
	<td>
		<table width="100%" cellpadding="0" cellspacing="0" border="0">
		<tbody><tr bgcolor="#DBDBDB">
			<td align="left" valign="middle"><table cellpadding="0" cellspacing="0" border="0">
				<tbody><tr><td height="2"></td></tr>
				<tr>
					<td class="downloadTitle">S.W.I.N.E. 1.4 -&gt; 1.9 patch (French)</td>
				</tr>
				<tr><td height="1"></td></tr>
				<tr>
					<td class="downloadSize">swine_1.9_patch_fr.zip (1.88 Mb)</td>
				</tr>
		</tbody></table>
	</td>
	<td align="right" valign="middle">
			<a class="newsRelatedLink" href="//www.stormregion.org/admin/fileGallery/swine_1.9_patch_fr.zip">
			<!--<a href='javascript:void(0);' onclick="window.open('pages/downloadManager.php?fileID=169','','screenx=50, screeny=50,width=320,height=240,statusbar=1,scrollbars=1');">-->
			<img src="//www.stormregion.org/templates/base/images/download/download1.gif" border="0" alt="Download it!" title="Download it!"></a></td>
</tr>
<tr bgcolor="#DBDBDB">
	<td colspan="2"><table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tbody><tr><td width="591" style="background-image: url(//www.stormregion.org/templates/base/images/download/line1.gif)"></td>
			<td align="right" class="downloadDate">&nbsp;&nbsp;2006-01-06</td></tr>
	</tbody></table></td>
</tr>
<tr bgcolor="#DBDBDB">
	<td colspan="2" class="downloadText">French 1.9 patch (no need to use with the Free Christmas Edition!)</td>
</tr>
<tr bgcolor="#DBDBDB">
	<td height="2" colspan="2"></td>
</tr>
</tbody></table>

</td><td width="12"></td></tr><tr><td colspan="2" height="2"></td></tr></tbody></table>
<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tbody><tr bgcolor="#EAEAEA">
	<td width="12"></td>
	<td>
		<table width="100%" cellpadding="0" cellspacing="0" border="0">
		<tbody><tr bgcolor="#EAEAEA">
			<td align="left" valign="middle"><table cellpadding="0" cellspacing="0" border="0">
				<tbody><tr><td height="2"></td></tr>
				<tr>
					<td class="downloadTitle">S.W.I.N.E. 1.4 -&gt; 1.9 patch (German)</td>
				</tr>
				<tr><td height="1"></td></tr>
				<tr>
					<td class="downloadSize">swine_1.9_patch_de.zip (25.27 Mb)</td>
				</tr>
		</tbody></table>
	</td>
	<td align="right" valign="middle">
			<a class="newsRelatedLink" href="//www.stormregion.org/admin/fileGallery/swine_1.9_patch_de.zip">
			<!--<a href='javascript:void(0);' onclick="window.open('pages/downloadManager.php?fileID=170','','screenx=50, screeny=50,width=320,height=240,statusbar=1,scrollbars=1');">-->
			<img src="//www.stormregion.org/templates/base/images/download/download2.gif" border="0" alt="Download it!" title="Download it!"></a></td>
</tr>
<tr bgcolor="#EAEAEA">
	<td colspan="2"><table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tbody><tr><td width="591" style="background-image: url(//www.stormregion.org/templates/base/images/download/line2.gif)"></td>
			<td align="right" class="downloadDate">&nbsp;&nbsp;2006-01-06</td></tr>
	</tbody></table></td>
</tr>
<tr bgcolor="#EAEAEA">
	<td colspan="2" class="downloadText">German 1.9 patch (no need to use with the Free Christmas Edition!)</td>
</tr>
<tr bgcolor="#EAEAEA">
	<td height="2" colspan="2"></td>
</tr>
</tbody></table>

</td><td width="12"></td></tr><tr><td colspan="2" height="2"></td></tr></tbody></table>
<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tbody><tr bgcolor="#DBDBDB">
	<td width="12"></td>
	<td>
		<table width="100%" cellpadding="0" cellspacing="0" border="0">
		<tbody><tr bgcolor="#DBDBDB">
			<td align="left" valign="middle"><table cellpadding="0" cellspacing="0" border="0">
				<tbody><tr><td height="2"></td></tr>
				<tr>
					<td class="downloadTitle">S.W.I.N.E. 1.4 -&gt; 1.9 patch (Hungarian)</td>
				</tr>
				<tr><td height="1"></td></tr>
				<tr>
					<td class="downloadSize">swine_1.9_patch.exe (1.57 Mb)</td>
				</tr>
		</tbody></table>
	</td>
	<td align="right" valign="middle">
			<a class="newsRelatedLink" href="//www.stormregion.org/admin/fileGallery/swine_1.9_patch.exe">
			<!--<a href='javascript:void(0);' onclick="window.open('pages/downloadManager.php?fileID=167','','screenx=50, screeny=50,width=320,height=240,statusbar=1,scrollbars=1');">-->
			<img src="//www.stormregion.org/templates/base/images/download/download1.gif" border="0" alt="Download it!" title="Download it!"></a></td>
</tr>
<tr bgcolor="#DBDBDB">
	<td colspan="2"><table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tbody><tr><td width="591" style="background-image: url(//www.stormregion.org/templates/base/images/download/line1.gif)"></td>
			<td align="right" class="downloadDate">&nbsp;&nbsp;2005-12-20</td></tr>
	</tbody></table></td>
</tr>
<tr bgcolor="#DBDBDB">
	<td colspan="2" class="downloadText">S.W.I.N.E. Hungarian 1.9 patch</td>
</tr>
<tr bgcolor="#DBDBDB">
	<td height="2" colspan="2"></td>
</tr>
</tbody></table>

</td><td width="12"></td></tr><tr><td colspan="2" height="2"></td></tr></tbody></table>
<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tbody><tr bgcolor="#EAEAEA">
	<td width="12"></td>
	<td>
		<table width="100%" cellpadding="0" cellspacing="0" border="0">
		<tbody><tr bgcolor="#EAEAEA">
			<td align="left" valign="middle"><table cellpadding="0" cellspacing="0" border="0">
				<tbody><tr><td height="2"></td></tr>
				<tr>
					<td class="downloadTitle">S.W.I.N.E. 1.2 -&gt; 1.4 patch </td>
				</tr>
				<tr><td height="1"></td></tr>
				<tr>
					<td class="downloadSize">SWINEPatchEN1.2-1.4.exe (6.36 Mb)</td>
				</tr>
		</tbody></table>
	</td>
	<td align="right" valign="middle">
			<a class="newsRelatedLink" href="//www.stormregion.org/admin/fileGallery/SWINEPatchEN1.2-1.4.exe">
			<!--<a href='javascript:void(0);' onclick="window.open('pages/downloadManager.php?fileID=129','','screenx=50, screeny=50,width=320,height=240,statusbar=1,scrollbars=1');">-->
			<img src="//www.stormregion.org/templates/base/images/download/download2.gif" border="0" alt="Download it!" title="Download it!"></a></td>
</tr>
<tr bgcolor="#EAEAEA">
	<td colspan="2"><table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tbody><tr><td width="591" style="background-image: url(//www.stormregion.org/templates/base/images/download/line2.gif)"></td>
			<td align="right" class="downloadDate">&nbsp;&nbsp;2005-08-05</td></tr>
	</tbody></table></td>
</tr>
<tr bgcolor="#EAEAEA">
	<td colspan="2" class="downloadText">English 1.2 -&gt; 1.4 patch with additional multimap package</td>
</tr>
<tr bgcolor="#EAEAEA">
	<td height="2" colspan="2"></td>
</tr>
</tbody></table>

</td><td width="12"></td></tr><tr><td colspan="2" height="2"></td></tr></tbody></table>
<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tbody><tr bgcolor="#DBDBDB">
	<td width="12"></td>
	<td>
		<table width="100%" cellpadding="0" cellspacing="0" border="0">
		<tbody><tr bgcolor="#DBDBDB">
			<td align="left" valign="middle"><table cellpadding="0" cellspacing="0" border="0">
				<tbody><tr><td height="2"></td></tr>
				<tr>
					<td class="downloadTitle">S.W.I.N.E. soundtrack</td>
				</tr>
				<tr><td height="1"></td></tr>
				<tr>
					<td class="downloadSize">S.W.I.N.E._soundtrack.zip (47.06 Mb)</td>
				</tr>
		</tbody></table>
	</td>
	<td align="right" valign="middle">
			<a class="newsRelatedLink" href="//www.stormregion.org/admin/fileGallery/S.W.I.N.E._soundtrack.zip">
			<!--<a href='javascript:void(0);' onclick="window.open('pages/downloadManager.php?fileID=138','','screenx=50, screeny=50,width=320,height=240,statusbar=1,scrollbars=1');">-->
			<img src="//www.stormregion.org/templates/base/images/download/download1.gif" border="0" alt="Download it!" title="Download it!"></a></td>
</tr>
<tr bgcolor="#DBDBDB">
	<td colspan="2"><table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tbody><tr><td width="591" style="background-image: url(//www.stormregion.org/templates/base/images/download/line1.gif)"></td>
			<td align="right" class="downloadDate">&nbsp;&nbsp;2005-08-05</td></tr>
	</tbody></table></td>
</tr>
<tr bgcolor="#DBDBDB">
	<td colspan="2" class="downloadText">The official soundtrack of the game in mp3 performed by Másfél</td>
</tr>
<tr bgcolor="#DBDBDB">
	<td height="2" colspan="2"></td>
</tr>
</tbody></table>

</td><td width="12"></td></tr><tr><td colspan="2" height="2"></td></tr></tbody></table>
<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tbody><tr bgcolor="#EAEAEA">
	<td width="12"></td>
	<td>
		<table width="100%" cellpadding="0" cellspacing="0" border="0">
		<tbody><tr bgcolor="#EAEAEA">
			<td align="left" valign="middle"><table cellpadding="0" cellspacing="0" border="0">
				<tbody><tr><td height="2"></td></tr>
				<tr>
					<td class="downloadTitle">S.W.I.N.E. demo patch</td>
				</tr>
				<tr><td height="1"></td></tr>
				<tr>
					<td class="downloadSize">SWINEDemoPatchEN.zip (417.65 Kb)</td>
				</tr>
		</tbody></table>
	</td>
	<td align="right" valign="middle">
			<a class="newsRelatedLink" href="//www.stormregion.org/admin/fileGallery/SWINEDemoPatchEN.zip">
			<!--<a href='javascript:void(0);' onclick="window.open('pages/downloadManager.php?fileID=131','','screenx=50, screeny=50,width=320,height=240,statusbar=1,scrollbars=1');">-->
			<img src="//www.stormregion.org/templates/base/images/download/download2.gif" border="0" alt="Download it!" title="Download it!"></a></td>
</tr>
<tr bgcolor="#EAEAEA">
	<td colspan="2"><table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tbody><tr><td width="591" style="background-image: url(//www.stormregion.org/templates/base/images/download/line2.gif)"></td>
			<td align="right" class="downloadDate">&nbsp;&nbsp;2005-08-05</td></tr>
	</tbody></table></td>
</tr>
<tr bgcolor="#EAEAEA">
	<td colspan="2" class="downloadText">English 1.4 demo patch</td>
</tr>
<tr bgcolor="#EAEAEA">
	<td height="2" colspan="2"></td>
</tr>
</tbody></table>

</td><td width="12"></td></tr><tr><td colspan="2" height="2"></td></tr></tbody></table>
<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tbody><tr bgcolor="#DBDBDB">
	<td width="12"></td>
	<td>
		<table width="100%" cellpadding="0" cellspacing="0" border="0">
		<tbody><tr bgcolor="#DBDBDB">
			<td align="left" valign="middle"><table cellpadding="0" cellspacing="0" border="0">
				<tbody><tr><td height="2"></td></tr>
				<tr>
					<td class="downloadTitle">S.W.I.N.E. demo</td>
				</tr>
				<tr><td height="1"></td></tr>
				<tr>
					<td class="downloadSize">SwineEnglishDemo.exe (88.53 Mb)</td>
				</tr>
		</tbody></table>
	</td>
	<td align="right" valign="middle">
			<a class="newsRelatedLink" href="//www.stormregion.org/admin/fileGallery/SwineEnglishDemo.exe">
			<!--<a href='javascript:void(0);' onclick="window.open('pages/downloadManager.php?fileID=130','','screenx=50, screeny=50,width=320,height=240,statusbar=1,scrollbars=1');">-->
			<img src="//www.stormregion.org/templates/base/images/download/download1.gif" border="0" alt="Download it!" title="Download it!"></a></td>
</tr>
<tr bgcolor="#DBDBDB">
	<td colspan="2"><table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tbody><tr><td width="591" style="background-image: url(//www.stormregion.org/templates/base/images/download/line1.gif)"></td>
			<td align="right" class="downloadDate">&nbsp;&nbsp;2005-08-05</td></tr>
	</tbody></table></td>
</tr>
<tr bgcolor="#DBDBDB">
	<td colspan="2" class="downloadText">English demo version of the game.</td>
</tr>
<tr bgcolor="#DBDBDB">
	<td height="2" colspan="2"></td>
</tr>
</tbody></table>

</td><td width="12"></td></tr><tr><td colspan="2" height="2"></td></tr></tbody></table>
<table><tbody><tr><td height="6"></td></tr></tbody></table>


</td></tr></tbody></table></td>

<!-- end page stuff -->

<td width='144' style='background-image: url(./templates/base/images/rightBG.gif)' valign='top' align='right'>
    <table cellpadding='0' cellspacing='0' border='0' width='144'>
        <tr>
            <td width='9'><img src='./templates/base/images/box/rightSeparator.gif' alt='' title=''></td>
            <td width='135' bgcolor='#4372A4'>
			{% include inc_login.html %}
</td></tr><tr><td colspan='2'><img src='./templates/base/images/separator.gif' alt='' title=''></td></table><table width='144' cellpadding='0' cellspacing='0' border='0' style='background-image: url(./templates/base/images/topTopic/bgTile.gif)'>
<tr>
	<td colspan='2'>
		<img src='./templates/base/images/topTopic/header.gif' alt='' title=''>
	</td>
</tr>
{% include inc_top5.html %}
</table>

{% include inc_instore.html %}
</td></tr><tr><td height='26' bgcolor='#4976A6' align='center' valign='middle' class='whiteText' colspan='3'>
<table width='1000' cellpadding='0' cellspacing='0' border='0'>
	{% include inc_copy.html %}
</table>
</td></tr></table></center></body>
{% include extras/cookies.html %}
</html>
