---
layout: null
---
{% include base.html %}
 <!-- end of site base -->
            <tr height='2'>
                <td></td>
            </tr>
        </table>
    </td>
</tr>
	<tr style='background-image: url(./templates/base/images/header/index_07.gif); background-repeat: repeat-x;' valign='top' height='62'>
		<td colspan='2'>
		<table width="1000" height='62' border="0" cellpadding="0" cellspacing="0">
      <tr valign="bottom"><td rowspan="2" width="169" height="62"><img src="./templates/base/images/header/index_04.gif" width="169" height="62" alt=""></td>
      		<td width="74" height="44" colspan="2" style="background-image: url(./templates/base/images/header/index_06.gif); background-position:top left; background-repeat: no-repeat;"></td>
      		<td rowspan="2" align="center" height="62">
      			<!--<embed src="/web/20070818103541oe_/http://www.stormregion.com/templates/base/images/header/banner.swf" style="z-index: -1;" wmode="opaque" height="55" width="445">
      			 <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/ca" width="445" title="NATO Harci Pilóta Toborzás!" align="bottom" height="55">
                          		<param name="movie" value="./templates/base/images/header/banner.swf">
                    		<param name="quality" value="high">
                          		<embed src="./templates/base/images/header/banner.swf" quality="high" name="nato_mini" style="z-index: -1;"  wmode="opaque" type="application/x" pluginspage="http://www.macromedia.com/go/getflashpl" title="NATO Harci Pilóta Toborzás!" align="allowScriptAccess=&quot;sameDomain&quot;" height="55" width="445">
                  		</object>    -->
      		</td>
      		<td width="148"></td>
      		</tr>
		<tr> <!-- this place was fixed, see images in admin folder "SRbeforeFIX" "SRafterFIX" -->
			<td height="18">
				<img src="./templates/base/images/header/titles/headerBottomNews.gif" height="18" alt=""><img src="./templates/base/images/header/index_10.gif" width="20" height="18" alt=""></td>
			<td>
				</td></tr>
		</table>
		</td>
	</tr>
	<tr style='background-image: url(./templates/base/images/header/index_13.gif); background-repeat: repeat-x;' valign='top' height="19">
		<td colspan='2'>
		<table width="1000"  border="0" cellpadding="0" cellspacing="0">
		<tr height="19">
		<td width="148">
			<img src="./templates/base/images/header/index_11.gif" width="148" height="19" alt=""></td>
		<td width="22">
			<img src="./templates/base/images/header/index_12.gif" width="22" height="19" alt=""></td>
		<td width='669'></td>
		<td width="13">
			<img src="./templates/base/images/header/index_16.gif" width="13" height="19" alt=""></td>
		<td  width="148">
			<img src="./templates/base/images/header/index_17.gif" width="148" height="19" alt=""></td></tr>
		</table>
		</td>
	</tr>
		<tr bgcolor='#D9D9D9' valign='top' height='8'>
		<td colspan='2'>
		<table width="1000"  border="0" cellpadding="0" cellspacing="0">
		<tr height="8"><td width="212">
			<img src="./templates/base/images/header/index_18.gif" width="212" height="8" alt=""></td>
		<td width='575'></td>
		<td width="213">
			<img src="./templates/base/images/header/index_21.gif" width="213" height="8" alt=""></td>
		</tr>
		</table>
		</td>
	</tr>
</table>
</td></tr>

<!-- sidebar tags -->
<tr>
  <td width='144' height='100%' valign='top' style='background-image: url(./templates/base/images/leftBG.gif)' align='left'>

    <!-- download and info start -->
<table cellpadding="0" cellspacing="0" border="0" width="144"><tbody><tr><td width="135" bgcolor="#4372A4"><table cellpadding="0" cellspacing="0" border="0" width="100%">
<tbody><tr>
	<td height="10" colspan="3"></td>
</tr>
	<tr>
		<td width="9"></td>
		<td width="18"></td>
	<tr>
		<td width="9"></td>
		<td colspan="2"><a href="index.php?sid=33c990856d361a869d772175b138b723&amp;activeSubMenuID=rfb_download&amp;activeMenuID=rfb" class="selectedMenuText">News</a></td>
	</tr>
	<tr>
		<td width="9"></td>
		<td colspan="2" height="1" style="background-image: url(./templates/base/images/extraMenu/line.gif)"></td>
	</tr>
	<tr>
		<td height="5" colspan="3"></td>
	</tr>
	<tr>
		<td width="9"></td>
		<td width="18"></td>
		<td><a href="index.php?sid=33c990856d361a869d772175b138b723&amp;activeSubMenuID=rfb_gallery&amp;activeMenuID=rfb" class="menuText">Details</a></td>
	</tr>
	<tr>
		<td colspan="2"></td>
		<td height="1" style="background-image: url(./templates/base/images/extraMenu/line.gif)"></td>
	</tr>
	<tr>
		<td height="5" colspan="3"></td>
	</tr>
  <tr>
    <td width="9"></td>
    <td width="18"></td>
    <td><a href="index.php?sid=33c990856d361a869d772175b138b723&amp;activeSubMenuID=rfb_gallery&amp;activeMenuID=rfb" class="menuText">Awards</a></td>
  </tr>
  <tr>
    <td colspan="2"></td>
    <td height="1" style="background-image: url(./templates/base/images/extraMenu/line.gif)"></td>
  </tr>
  <tr>
    <td height="5" colspan="3"></td>
  </tr>
	<tr>
		<td width="9"></td>
		<td width="18"></td>
		<td><a href="https://web.archive.org/web/20070818103541/http://www.rushforberlin.com/" class="menuText" target="_blank">Downloads</a></td>
	</tr>
	<tr>
		<td colspan="2"></td>
		<td height="1" style="background-image: url(./templates/base/images/extraMenu/line.gif)"></td>
	</tr>
	<tr>
		<td height="5" colspan="3"></td>
	</tr>
	<tr>
		<td width="9"></td>
		<td width="18"></td>
		<td><a href="index.php?sid=33c990856d361a869d772175b138b723&amp;activeSubMenuID=rfb_media&amp;serialProjectID=104&amp;activeMenuID=rfb" class="menuText">Screenshots</a></td>
	</tr>
	<tr>
		<td colspan="2"></td>
		<td height="1" style="background-image: url(./templates/base/images/extraMenu/line.gif)"></td>
	</tr>
	<tr>
		<td height="5" colspan="3"></td>
	</tr>
  <tr>
    <td width="9"></td>
    <td width="18"></td>
    <td><a href="index.php?sid=33c990856d361a869d772175b138b723&amp;activeSubMenuID=rfb_gallery&amp;activeMenuID=rfb" class="menuText">Serial registration</a></td>
  </tr>
  <tr>
    <td colspan="2"></td>
    <td height="1" style="background-image: url(./templates/base/images/extraMenu/line.gif)"></td>
  </tr>
  <tr>
    <td height="5" colspan="3"></td>
  </tr>
  <tr>
    <td width="9"></td>
    <td width="18"></td>
    <td><a href="index.php?sid=33c990856d361a869d772175b138b723&amp;activeSubMenuID=rfb_gallery&amp;activeMenuID=rfb" class="menuText">Official site</a></td>
  </tr>
  <tr>
    <td colspan="2"></td>
    <td height="1" style="background-image: url(./templates/base/images/extraMenu/line.gif)"></td>
  </tr>
  <tr>
    <td height="5" colspan="3"></td>
  </tr>
  <tr>
    <td width="9"></td>
    <td width="18"></td>
    <td><a href="index.php?sid=33c990856d361a869d772175b138b723&amp;activeSubMenuID=rfb_media&amp;serialProjectID=104&amp;activeMenuID=rfb" class="menuText">Media</a></td>
  </tr>
  <tr>
    <td colspan="2"></td>
    <td height="1" style="background-image: url(./templates/base/images/extraMenu/line.gif)"></td>
  </tr>
  <tr>
    <td height="5" colspan="3"></td>
  </tr>
	<tr>
		<td width="9"></td>
		<td width="18"></td>
		<td><a href="index.php?sid=33c990856d361a869d772175b138b723&amp;activeSubMenuID=mod2&amp;activeMenuID=rfb" class="menuText">Mods</a></td>
	</tr>
	<tr>
		<td colspan="2"></td>
		<td height="1" style="background-image: url(./templates/base/images/extraMenu/line.gif)"></td>
	</tr>
	<tr>
		<td height="5" colspan="3"></td>
	</tr>
	<tr>
		<td width="9"></td>
	</tr><tr>
		<td height="5" colspan="3"></td>
	</tr>
<tr>
	<td height="10" colspan="3"></td>
</tr>
</tbody></table>
</td><td width="9"><img src="./templates/base/images/box/leftSeparator.gif" alt="" title=""></td></tr><tr><td colspan="2"><img src="./templates/base/images/separator.gif" alt="" title=""></td></tr></tbody></table>

<!-- download and info end -->

<!-- poll start -->
{% include inc_poll.html %}
<!-- poll end -->
<!-- screenShot start -->
{% include inc_screenshot.html %}
<!-- screenShot end -->
<!-- page stuff.. finally! -->
<input type='hidden' name='activepage2' value='news.php'><input type='hidden' name='activemenuid2' value='news'><input type='hidden' name='activesubmenuid2' value='-1'>
<input type='hidden' name='activeprojectid2' value='-1'><input type='hidden' name='articleid2' value=''>

<td width="712" bgcolor="#DBDBDB" valign="top"><table cellpadding="5" cellspacing="0" border="0" bgcolor="#DBDBDB" width="100%"><tbody><tr><td><table cellpadding="0" cellspacing="0" border="0" width="100%">
<tbody><tr>
	<td height="1" bgcolor="#B11011"></td>
</tr>
<tr>
	<td>
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tbody><tr>
			<td width="1" bgcolor="#B11011"></td>
			<td>
			<table cellpadding="12" cellspacing="0" border="0" width="100%">
				<tbody><tr>
					<td align="left" class="newsText" bgcolor="#FFFCDF">
						<img align="Left" src="/admin/fileGallery/phaseonedoboz.jpg" class="newsImageLeft" alt="" title="">Codename: Panzers is a military strategy game based on WWII events.
<br>The game includes three campaigns, one for each side fighting the war: Germany, the Soviet Union and the Anglo-American allies. Each campaign is divided into a number of missions.
<br>
						<br><br>
						<a href="index.php?sid=e0dd5353ace6308d8684ae09fec2d0ff&amp;activeSubMenuID=cpph1_details&amp;activeMenuID=cpph1" class="infoHeaderLink">more details..</a>
					</td>
				</tr>
			</tbody></table>
			</td>
			<td width="1" bgcolor="#B11011"></td>
		</tr>
		</tbody></table>
	</td>
</tr>
<tr>
	<td height="1" bgcolor="#B11011"></td>
</tr>
</tbody></table>
<br>
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tbody><tr>
	<td width="12" height="19"><img src="./templates/base/images/news/headerLeftCorner.gif" alt="" title=""></td>
	<td height="19" style="background-image: url(./templates/base/images/news/headerTile.gif)" width="100%" class="yellowLink">
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tbody><tr>
			<td class="newsHeader"><td width="100px"/></td>
			<td align="right"></td>
		</tr>
		</tbody></table>
	</td>
	<td width="29" height="19"><img src="./templates/base/images/news/headerRightCorner.gif" alt="" title=""></td>
</tr>
<tr>
	<td colspan="3">

	<table cellpadding="0" cellspacing="0" border="0" width="100%">
	<tbody><tr>
		<td width="1" style="background-image: url(./templates/base/images/news/border.gif)"></td>
		<td>
		<table cellpadding="12" cellspacing="0" border="0" width="100%">
			<tbody><tr>
				<td align="left" class="newsText">
				<table cellpadding="0" cellspacing="0" border="0" width="100%">
				<tbody><tr><td class="newsTitle">Codename: Panzers - Cold War Partnership formed </td>
				<td class="newsDate" align="right" valign="middle">2006-09-18</td></tr>
				<tr><td colspan="2" valign="top" height="10"></td></tr>
				<tr><td class="newsLastComment" colspan="2" valign="top" height="1"></td></tr>
				</tbody></table>
					Once again, we have another exciting tidbit of news. That giant of giants, that master of electronic entertainment or more correctly, of "Electronic Arts" is joining up with 10tacle and Stormregion to bring Codename: Panzers - Cold War to you!!!!!!!!!
<br>
				</td>
			</tr>
			<tr>
				<td>
					<table cellpadding="0" cellspacing="0" width="100%">
					<tbody><tr>
						<td align="left" valign="top" class="newsLastComment">
						</td>
						<td align="right" valign="top">
						<a href="index.php?sid=e0dd5353ace6308d8684ae09fec2d0ff&amp;articleID=213&amp;activeMenuID=cpph1" class="newsRelatedLink">Click here to see the whole article..</a>
						</td>
					</tr>
					</tbody></table>
				</td>
			</tr>
		</tbody></table>
		</td>
		<td width="1" style="background-image: url(./templates/base/images/news/border.gif)"></td></tr>
	</tbody></table>

	</td>
</tr></tbody></table>
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tbody><tr>
	<td width="12" height="19"><img src="./templates/base/images/news/headerLeftCorner.gif" alt="" title=""></td>
	<td height="19" style="background-image: url(./templates/base/images/news/headerTile.gif)" width="100%" class="yellowLink">
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tbody><tr>
			<td class="newsHeader"><td width="176px"/></td>
			<td align="right"></td>
		</tr>
		</tbody></table>
	</td>
	<td width="29" height="19"><img src="./templates/base/images/news/headerRightCorner.gif" alt="" title=""></td>
</tr>
<tr>
	<td colspan="3">

	<table cellpadding="0" cellspacing="0" border="0" width="100%">
	<tbody><tr>
		<td width="1" style="background-image: url(./templates/base/images/news/border.gif)"></td>
		<td>
		<table cellpadding="12" cellspacing="0" border="0" width="100%">
			<tbody><tr>
				<td align="left" class="newsText">
				<table cellpadding="0" cellspacing="0" border="0" width="100%">
				<tbody><tr><td class="newsTitle">Stormregion dominates tactical RTS top list in PC Games</td>
				<td class="newsDate" align="right" valign="middle">2006-08-16</td></tr>
				<tr><td colspan="2" valign="top" height="10"></td></tr>
				<tr><td class="newsLastComment" colspan="2" valign="top" height="1"></td></tr>
				</tbody></table>
					<a href="javascript:void(0);" onclick="window.open('admin/fileGallery/pcgames.jpg','','screenx=100, screeny=50,width=283,height=519,statusbar=0,scrollbars=1');"><img align="Left" src="/admin/fileGallery/pcgamesch2.jpg" class="newsImageLeft" alt="" title=""></a>Some days you have good days and some days you have great days! This happens to be the latter. We are exceedingly proud to present the best of the best tactical rts games EVER as chosen by PC Games Germany.
<br>
<br>Have yourself a little peek at numbers 1, 2 and 3 on the list. And these guys ain`t pushovers.
<br>
<br>
<br><b>1. Rush for Berlin
<br>2. Codename Panzers: Phase 2
<br>3. Codename Panzers</b>
<br>4. Soldiers: Heroes of WWII
<br>5. Freedom Force vs. The Third reich
<br>
				</td>
			</tr>
			<tr>
				<td>
					<table cellpadding="0" cellspacing="0" width="100%">
					<tbody><tr>
						<td align="left" valign="top" class="newsLastComment">
						</td>
						<td align="right" valign="top">
						</td>
					</tr>
					</tbody></table>
				</td>
			</tr>
		</tbody></table>
		</td>
		<td width="1" style="background-image: url(./templates/base/images/news/border.gif)"></td></tr>
	</tbody></table>

	</td>
</tr></tbody></table>
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tbody><tr>
	<td width="12" height="19"><img src="./templates/base/images/news/headerLeftCorner.gif" alt="" title=""></td>
	<td height="19" style="background-image: url(./templates/base/images/news/headerTile.gif)" width="100%" class="yellowLink">
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tbody><tr>
			<td class="newsHeader"><td width="176px"/></td>
			<td align="right"></td>
		</tr>
		</tbody></table>
	</td>
	<td width="29" height="19"><img src="./templates/base/images/news/headerRightCorner.gif" alt="" title=""></td>
</tr>
<tr>
	<td colspan="3">

	<table cellpadding="0" cellspacing="0" border="0" width="100%">
	<tbody><tr>
		<td width="1" style="background-image: url(./templates/base/images/news/border.gif)"></td>
		<td>
		<table cellpadding="12" cellspacing="0" border="0" width="100%">
			<tbody><tr>
				<td align="left" class="newsText">
				<table cellpadding="0" cellspacing="0" border="0" width="100%">
				<tbody><tr><td class="newsTitle">Stormregion at Games Convention 2006</td>
				<td class="newsDate" align="right" valign="middle">2006-08-09</td></tr>
				<tr><td colspan="2" valign="top" height="10"></td></tr>
				<tr><td class="newsLastComment" colspan="2" valign="top" height="1"></td></tr>
				</tbody></table>
					<img align="Left" src="/admin/fileGallery/gclogo2.jpg" class="newsImageLeft" alt="" title="">There is more good news on the horizon. At the Leipzig Games Convention this month (August 24th to 27th) expect great news from Stormregion!
<br>First off, you`ll get a closer look at Rush for the Bomb (published through Deep Silver), an exciting new adventure set in Spain. Expect arid plains of intrigue, mountains of mysteries and a fresh cast of characters.
<br>As if that wasn`t enough, there`s Codename: Panzers Cold War (published through 10tacle). For fans of the series expect a new and revamped style Panzers game with new features and new fun. But, you`ll have to wait till Leipzig to learn more.
				</td>
			</tr>
			<tr>
				<td>
					<table cellpadding="0" cellspacing="0" width="100%">
					<tbody><tr>
						<td align="left" valign="top" class="newsLastComment">
						</td>
						<td align="right" valign="top">
						</td>
					</tr>
					</tbody></table>
				</td>
			</tr>
		</tbody></table>
		</td>
		<td width="1" style="background-image: url(./templates/base/images/news/border.gif)"></td></tr>
	</tbody></table>

	</td>
</tr></tbody></table>
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tbody><tr>
	<td width="12" height="19"><img src="./templates/base/images/news/headerLeftCorner.gif" alt="" title=""></td>
	<td height="19" style="background-image: url(./templates/base/images/news/headerTile.gif)" width="100%" class="yellowLink">
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tbody><tr>
			<td class="newsHeader"><td width="100px"/></td>
			<td align="right"></td>
		</tr>
		</tbody></table>
	</td>
	<td width="29" height="19"><img src="./templates/base/images/news/headerRightCorner.gif" alt="" title=""></td>
</tr>
<tr>
	<td colspan="3">

	<table cellpadding="0" cellspacing="0" border="0" width="100%">
	<tbody><tr>
		<td width="1" style="background-image: url(./templates/base/images/news/border.gif)"></td>
		<td>
		<table cellpadding="12" cellspacing="0" border="0" width="100%">
			<tbody><tr>
				<td align="left" class="newsText">
				<table cellpadding="0" cellspacing="0" border="0" width="100%">
				<tbody><tr><td class="newsTitle">10TACLE STUDIOS establish strategic partnership with Stormregion</td>
				<td class="newsDate" align="right" valign="middle">2006-04-19</td></tr>
				<tr><td colspan="2" valign="top" height="10"></td></tr>
				<tr><td class="newsLastComment" colspan="2" valign="top" height="1"></td></tr>
				</tbody></table>
					10TACLE STUDIOS and leading Hungarian developer Stormregion have decided to expand their operations beyond the PC to include next generation consoles by creating a tactical action game on Next Generation Consoles (XBOX 360 and PS3). Also in production will be a turn-based strategy game for handhelds (Sony PSP and NintendoDS).
<br>
<br>Only last year, the two companies announced their new partnership and the production of a sequel to the successful real-time strategy game. In this context, they also announced that the project with the working title “Codename Panzers: Cold War“ for PC would for the first time have a different setting than the World War II setting.
				</td>
			</tr>
			<tr>
				<td>
					<table cellpadding="0" cellspacing="0" width="100%">
					<tbody><tr>
						<td align="left" valign="top" class="newsLastComment">
						</td>
						<td align="right" valign="top">
						</td>
					</tr>
					</tbody></table>
				</td>
			</tr>
		</tbody></table>
		</td>
		<td width="1" style="background-image: url(./templates/base/images/news/border.gif)"></td></tr>
	</tbody></table>

	</td>
</tr></tbody></table>
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tbody><tr>
	<td width="12" height="19"><img src="./templates/base/images/news/headerLeftCorner.gif" alt="" title=""></td>
	<td height="19" style="background-image: url(./templates/base/images/news/headerTile.gif)" width="100%" class="yellowLink">
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tbody><tr>
			<td class="newsHeader"><td width="100px"/></td>
			<td align="right"></td>
		</tr>
		</tbody></table>
	</td>
	<td width="29" height="19"><img src="./templates/base/images/news/headerRightCorner.gif" alt="" title=""></td>
</tr>
<tr>
	<td colspan="3">

	<table cellpadding="0" cellspacing="0" border="0" width="100%">
	<tbody><tr>
		<td width="1" style="background-image: url(./templates/base/images/news/border.gif)"></td>
		<td>
		<table cellpadding="12" cellspacing="0" border="0" width="100%">
			<tbody><tr>
				<td align="left" class="newsText">
				<table cellpadding="0" cellspacing="0" border="0" width="100%">
				<tbody><tr><td class="newsTitle">The Ultimate Codename Panzers Mod Resource</td>
				<td class="newsDate" align="right" valign="middle">2006-02-27</td></tr>
				<tr><td colspan="2" valign="top" height="10"></td></tr>
				<tr><td class="newsLastComment" colspan="2" valign="top" height="1"></td></tr>
				</tbody></table>
					A new portal supporting modders for game Codename Panzers, updated daily! News, reviews, forum, downloads and much more, so come over to check out the latest downloads!
<br>
<br><a href="http://www.panzers.co.nr/" class="parseLink" target="_blank">Click!</a>
				</td>
			</tr>
			<tr>
				<td>
					<table cellpadding="0" cellspacing="0" width="100%">
					<tbody><tr>
						<td align="left" valign="top" class="newsLastComment">
						</td>
						<td align="right" valign="top">
						</td>
					</tr>
					</tbody></table>
				</td>
			</tr>
		</tbody></table>
		</td>
		<td width="1" style="background-image: url(./templates/base/images/news/border.gif)"></td></tr>
	</tbody></table>

	</td>
</tr></tbody></table>
<table cellpadding="2" cellspacing="0" border="0" align="center"><tbody><tr><td><a href="index.php?sid=e0dd5353ace6308d8684ae09fec2d0ff&amp;pageNumber=spf" class="pageInactive">&lt;&lt;</a></td><td width="1"></td><td><a href="index.php?sid=e0dd5353ace6308d8684ae09fec2d0ff&amp;pageNumber=spb" class="pageInactive">&lt;</a></td><td width="2"></td><td align="center"><a href="index.php?sid=e0dd5353ace6308d8684ae09fec2d0ff&amp;pageNumber=0&amp;activeMenuID=cpph1" class="pageActive">1</a></td><td class="pageInactive" align="center" width="2">|</td><td align="center"><a href="index.php?sid=e0dd5353ace6308d8684ae09fec2d0ff&amp;pageNumber=1&amp;activeMenuID=cpph1" class="pageInactive">2</a></td><td class="pageInactive" align="center" width="2">|</td><td align="center"><a href="index.php?sid=e0dd5353ace6308d8684ae09fec2d0ff&amp;pageNumber=2&amp;activeMenuID=cpph1" class="pageInactive">3</a></td><td class="pageInactive" align="center" width="2">|</td><td align="center"><a href="index.php?sid=e0dd5353ace6308d8684ae09fec2d0ff&amp;pageNumber=3&amp;activeMenuID=cpph1" class="pageInactive">4</a></td><td width="2"></td><td><a href="index.php?sid=e0dd5353ace6308d8684ae09fec2d0ff&amp;pageNumber=spn" class="pageInactive">&gt;</a></td><td width="1"></td><td><a href="index.php?sid=e0dd5353ace6308d8684ae09fec2d0ff&amp;pageNumber=spl" class="pageInactive">&gt;&gt;</a></td></tr></tbody></table></td></tr></tbody></table></td>

<!-- end page stuff -->

<td width='144' style='background-image: url(./templates/base/images/rightBG.gif)' valign='top' align='right'>
    <table cellpadding='0' cellspacing='0' border='0' width='144'>
        <tr>
            <td width='9'><img src='./templates/base/images/box/rightSeparator.gif' alt='' title=''></td>
            <td width='135' bgcolor='#4372A4'>
			{% include inc_login.html %}
</td></tr><tr><td colspan='2'><img src='./templates/base/images/separator.gif' alt='' title=''></td></table><table width='144' cellpadding='0' cellspacing='0' border='0' style='background-image: url(./templates/base/images/topTopic/bgTile.gif)'>
<tr>
	<td colspan='2'>
		<img src='./templates/base/images/topTopic/header.gif' alt='' title=''>
	</td>
</tr>
{% include inc_top5.html %}
</table>

{% include inc_instore.html %}
</td></tr><tr><td height='26' bgcolor='#4976A6' align='center' valign='middle' class='whiteText' colspan='3'>
<table width='1000' cellpadding='0' cellspacing='0' border='0'>
	{% include inc_copy.html %}
</table>
</td></tr></table></center></body>
{% include extras/cookies.html %}
</html>
