---
layout: null
---
{% include base.html %}
 <!-- end of site base -->
            <tr height='2'>
                <td></td>
            </tr>
        </table>
    </td>
</tr>
	<tr style='background-image: url(./templates/base/images/header/index_07.gif); background-repeat: repeat-x;' valign='top' height='62'>
		<td colspan='2'>
		<table width="1000" height='62' border="0" cellpadding="0" cellspacing="0">
      <tr valign="bottom"><td rowspan="2" width="169" height="62"><img src="./templates/base/images/header/index_04.gif" width="169" height="62" alt=""></td>
      		<td width="74" height="44" colspan="2" style="background-image: url(./templates/base/images/header/index_06.gif); background-position:top left; background-repeat: no-repeat;"></td>
      		<td rowspan="2" align="center" height="62">
      			<!--<embed src="/web/20070818103541oe_/http://www.stormregion.com/templates/base/images/header/banner.swf" style="z-index: -1;" wmode="opaque" height="55" width="445">
      			 <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/ca" width="445" title="NATO Harci Pilóta Toborzás!" align="bottom" height="55">
                          		<param name="movie" value="./templates/base/images/header/banner.swf">
                    		<param name="quality" value="high">
                          		<embed src="./templates/base/images/header/banner.swf" quality="high" name="nato_mini" style="z-index: -1;"  wmode="opaque" type="application/x" pluginspage="http://www.macromedia.com/go/getflashpl" title="NATO Harci Pilóta Toborzás!" align="allowScriptAccess=&quot;sameDomain&quot;" height="55" width="445">
                  		</object>    -->
      		</td>
      		<td width="148"></td>
      		</tr>
		<tr> <!-- this place was fixed, see images in admin folder "SRbeforeFIX" "SRafterFIX" -->
			<td height="18">
				<img src="./templates/base/images/header/titles/headerBottomNews.gif" height="18" alt=""><img src="./templates/base/images/header/index_10.gif" width="20" height="18" alt=""></td>
			<td>
				</td></tr>
		</table>
		</td>
	</tr>
	<tr style='background-image: url(./templates/base/images/header/index_13.gif); background-repeat: repeat-x;' valign='top' height="19">
		<td colspan='2'>
		<table width="1000"  border="0" cellpadding="0" cellspacing="0">
		<tr height="19">
		<td width="148">
			<img src="./templates/base/images/header/index_11.gif" width="148" height="19" alt=""></td>
		<td width="22">
			<img src="./templates/base/images/header/index_12.gif" width="22" height="19" alt=""></td>
		<td width='669'></td>
		<td width="13">
			<img src="./templates/base/images/header/index_16.gif" width="13" height="19" alt=""></td>
		<td  width="148">
			<img src="./templates/base/images/header/index_17.gif" width="148" height="19" alt=""></td></tr>
		</table>
		</td>
	</tr>
		<tr bgcolor='#D9D9D9' valign='top' height='8'>
		<td colspan='2'>
		<table width="1000"  border="0" cellpadding="0" cellspacing="0">
		<tr height="8"><td width="212">
			<img src="./templates/base/images/header/index_18.gif" width="212" height="8" alt=""></td>
		<td width='575'></td>
		<td width="213">
			<img src="./templates/base/images/header/index_21.gif" width="213" height="8" alt=""></td>
		</tr>
		</table>
		</td>
	</tr>
</table>
</td></tr>

<!-- sidebar tags -->
<tr>
  <td width='144' height='100%' valign='top' style='background-image: url(./templates/base/images/leftBG.gif)' align='left'>

    <!-- download and info start -->
<table cellpadding="0" cellspacing="0" border="0" width="144"><tbody><tr><td width="135" bgcolor="#4372A4"><table cellpadding="0" cellspacing="0" border="0" width="100%">
<tbody><tr>
	<td height="10" colspan="3"></td>
</tr>
	<tr>
		<td width="9"></td>
		<td width="18"></td>
	<tr>
		<td width="9"></td>
		<td colspan="2"><a href="index.php?sid=33c990856d361a869d772175b138b723&amp;activeSubMenuID=rfb_download&amp;activeMenuID=rfb" class="selectedMenuText">News</a></td>
	</tr>
	<tr>
		<td width="9"></td>
		<td colspan="2" height="1" style="background-image: url(./templates/base/images/extraMenu/line.gif)"></td>
	</tr>
	<tr>
		<td height="5" colspan="3"></td>
	</tr>
	<tr>
		<td width="9"></td>
		<td width="18"></td>
		<td><a href="index.php?sid=33c990856d361a869d772175b138b723&amp;activeSubMenuID=rfb_gallery&amp;activeMenuID=rfb" class="menuText">Details</a></td>
	</tr>
	<tr>
		<td colspan="2"></td>
		<td height="1" style="background-image: url(./templates/base/images/extraMenu/line.gif)"></td>
	</tr>
	<tr>
		<td height="5" colspan="3"></td>
	</tr>
  <tr>
    <td width="9"></td>
    <td width="18"></td>
    <td><a href="index.php?sid=33c990856d361a869d772175b138b723&amp;activeSubMenuID=rfb_gallery&amp;activeMenuID=rfb" class="menuText">Awards</a></td>
  </tr>
  <tr>
    <td colspan="2"></td>
    <td height="1" style="background-image: url(./templates/base/images/extraMenu/line.gif)"></td>
  </tr>
  <tr>
    <td height="5" colspan="3"></td>
  </tr>
	<tr>
		<td width="9"></td>
		<td width="18"></td>
		<td><a href="https://web.archive.org/web/20070818103541/http://www.rushforberlin.com/" class="menuText" target="_blank">Downloads</a></td>
	</tr>
	<tr>
		<td colspan="2"></td>
		<td height="1" style="background-image: url(./templates/base/images/extraMenu/line.gif)"></td>
	</tr>
	<tr>
		<td height="5" colspan="3"></td>
	</tr>
	<tr>
		<td width="9"></td>
		<td width="18"></td>
		<td><a href="index.php?sid=33c990856d361a869d772175b138b723&amp;activeSubMenuID=rfb_media&amp;serialProjectID=104&amp;activeMenuID=rfb" class="menuText">Screenshots</a></td>
	</tr>
	<tr>
		<td colspan="2"></td>
		<td height="1" style="background-image: url(./templates/base/images/extraMenu/line.gif)"></td>
	</tr>
	<tr>
		<td height="5" colspan="3"></td>
	</tr>
  <tr>
    <td width="9"></td>
    <td width="18"></td>
    <td><a href="index.php?sid=33c990856d361a869d772175b138b723&amp;activeSubMenuID=rfb_gallery&amp;activeMenuID=rfb" class="menuText">Serial registration</a></td>
  </tr>
  <tr>
    <td colspan="2"></td>
    <td height="1" style="background-image: url(./templates/base/images/extraMenu/line.gif)"></td>
  </tr>
  <tr>
    <td height="5" colspan="3"></td>
  </tr>
  <tr>
    <td width="9"></td>
    <td width="18"></td>
    <td><a href="index.php?sid=33c990856d361a869d772175b138b723&amp;activeSubMenuID=rfb_gallery&amp;activeMenuID=rfb" class="menuText">Official site</a></td>
  </tr>
  <tr>
    <td colspan="2"></td>
    <td height="1" style="background-image: url(./templates/base/images/extraMenu/line.gif)"></td>
  </tr>
  <tr>
    <td height="5" colspan="3"></td>
  </tr>
  <tr>
    <td width="9"></td>
    <td width="18"></td>
    <td><a href="index.php?sid=33c990856d361a869d772175b138b723&amp;activeSubMenuID=rfb_media&amp;serialProjectID=104&amp;activeMenuID=rfb" class="menuText">Media</a></td>
  </tr>
  <tr>
    <td colspan="2"></td>
    <td height="1" style="background-image: url(./templates/base/images/extraMenu/line.gif)"></td>
  </tr>
  <tr>
    <td height="5" colspan="3"></td>
  </tr>
	<tr>
		<td width="9"></td>
		<td width="18"></td>
		<td><a href="index.php?sid=33c990856d361a869d772175b138b723&amp;activeSubMenuID=mod2&amp;activeMenuID=rfb" class="menuText">Mods</a></td>
	</tr>
	<tr>
		<td colspan="2"></td>
		<td height="1" style="background-image: url(./templates/base/images/extraMenu/line.gif)"></td>
	</tr>
	<tr>
		<td height="5" colspan="3"></td>
	</tr>
	<tr>
		<td width="9"></td>
	</tr><tr>
		<td height="5" colspan="3"></td>
	</tr>
<tr>
	<td height="10" colspan="3"></td>
</tr>
</tbody></table>
</td><td width="9"><img src="./templates/base/images/box/leftSeparator.gif" alt="" title=""></td></tr><tr><td colspan="2"><img src="./templates/base/images/separator.gif" alt="" title=""></td></tr></tbody></table>

<!-- download and info end -->

<!-- poll start -->
{% include inc_poll.html %}
<!-- poll end -->
<!-- screenShot start -->
{% include inc_screenshot.html %}
<!-- screenShot end -->
<!-- page stuff.. finally! -->
<input type='hidden' name='activepage2' value='news.php'><input type='hidden' name='activemenuid2' value='news'><input type='hidden' name='activesubmenuid2' value='-1'>
<input type='hidden' name='activeprojectid2' value='-1'><input type='hidden' name='articleid2' value=''>

<td width="712" bgcolor="#DBDBDB" valign="top"><table cellpadding="5" cellspacing="0" border="0" bgcolor="#DBDBDB" width="100%"><tbody><tr><td><table cellpadding="0" cellspacing="0" border="0" width="100%">
<tbody><tr>
	<td height="1" bgcolor="#B11011"></td>
</tr>
<tr>
	<td>
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tbody><tr>
			<td width="1" bgcolor="#B11011"></td>
			<td>
			<table cellpadding="12" cellspacing="0" border="0" width="100%">
				<tbody><tr>
					<td align="left" class="newsText" bgcolor="#FFFCDF">
						<img align="Left" src="./admin/fileGallery/rfbLogo62.jpg" class="newsImageLeft" alt="" title="">From the creators of CODENAME: PANZERS, RUSH FOR BERLIN is a tactical real time strategy game, set on the European battlefields of World War II, during 1944-45. The player’s goal; to capture the German capital, as either the British/US/French alliance or the Red army of the Soviet Union. The act symbolizes the total defeat of the Third Reich and means the end of the war on the European continent. Players face more and more challenges, as they get closer to the capital. The game is based on historical facts and gives wide possibilities for changing history and playing an alternative reality.
<br>
<br>Through a series of missions, a full story will be revealed concentrating on the rush towards Berlin, a completely different one with the Soviets, with Anglo-American allies and with the Germans.
						<br><br>
						<a href="index.php?sid=1dff68170539bf53420ba3c2109ebb15&amp;activeSubMenuID=rfb_details&amp;activeMenuID=rfb" class="infoHeaderLink">more details..</a>
					</td>
				</tr>
			</tbody></table>
			</td>
			<td width="1" bgcolor="#B11011"></td>
		</tr>
		</tbody></table>
	</td>
</tr>
<tr>
	<td height="1" bgcolor="#B11011"></td>
</tr>
</tbody></table>
<br>
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tbody><tr>
	<td width="12" height="19"><img src="./templates/base/images/news/headerLeftCorner.gif" alt="" title=""></td>
	<td height="19" style="background-image: url(./templates/base/images/news/headerTile.gif)" width="100%" class="yellowLink">
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tbody><tr>
			<td class="newsHeader"><td width="666px"/></td>
			<td align="right"></td>
		</tr>
		</tbody></table>
	</td>
	<td width="29" height="19"><img src="./templates/base/images/news/headerRightCorner.gif" alt="" title=""></td>
</tr>
<tr>
	<td colspan="3">

	<table cellpadding="0" cellspacing="0" border="0" width="100%">
	<tbody><tr>
		<td width="1" style="background-image: url(./templates/base/images/news/border.gif)"></td>
		<td>
		<table cellpadding="12" cellspacing="0" border="0" width="100%">
			<tbody><tr>
				<td align="left" class="newsText">
				<table cellpadding="0" cellspacing="0" border="0" width="100%">
				<tbody><tr><td class="newsTitle">The Modelling Competition Winners</td>
				<td class="newsDate" align="right" valign="middle">2006-11-16</td></tr>
				<tr><td colspan="2" valign="top" height="10"></td></tr>
				<tr><td class="newsLastComment" colspan="2" valign="top" height="1"></td></tr>
				</tbody></table>
					Ladies... Gentlemen... Generals... Colonels and all men of the fighting brood. A new day is upon us. The dawn has appeared and brought with it fierce, new, weapons of war. So without further ado, the winners (we ended up choosing three!!!!!) of the Stormregion Modelling contest:
<br><center>
<br><a href="http://www.stormregion.com/admin/fileGallery/Stug_III.jpg" class="parseLink" target="_blank"><img align="Left" src="./admin/fileGallery/Stug_III_tumb.jpg" class="newsImageLeft" alt="" title=""></a><a href="http://www.stormregion.com/admin/fileGallery/T70.jpg" class="parseLink" target="_blank"><img align="Left" src="./admin/fileGallery/T70_tumb.jpg" class="newsImageLeft" alt="" title=""></a><a href="http://www.stormregion.com/admin/fileGallery/VW_T166.jpg" class="parseLink" target="_blank"><img align="Left" src="./admin/fileGallery/VW_T166_tumb.jpg" class="newsImageLeft" alt="" title=""></a></center>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
				</td>
			</tr>
			<tr>
				<td>
					<table cellpadding="0" cellspacing="0" width="100%">
					<tbody><tr>
						<td align="left" valign="top" class="newsLastComment">
						</td>
						<td align="right" valign="top">
						<a href="index.php?sid=1dff68170539bf53420ba3c2109ebb15&amp;articleID=215&amp;activeMenuID=rfb" class="newsRelatedLink">Click here to see the whole article..</a>
						</td>
					</tr>
					</tbody></table>
				</td>
			</tr>
		</tbody></table>
		</td>
		<td width="1" style="background-image: url(./templates/base/images/news/border.gif)"></td></tr>
	</tbody></table>

	</td>
</tr></tbody></table>
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tbody><tr>
	<td width="12" height="19"><img src="./templates/base/images/news/headerLeftCorner.gif" alt="" title=""></td>
	<td height="19" style="background-image: url(./templates/base/images/news/headerTile.gif)" width="100%" class="yellowLink">
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tbody><tr>
			<td class="newsHeader"><td width="666px"/></td>
			<td align="right"></td>
		</tr>
		</tbody></table>
	</td>
	<td width="29" height="19"><img src="./templates/base/images/news/headerRightCorner.gif" alt="" title=""></td>
</tr>
<tr>
	<td colspan="3">

	<table cellpadding="0" cellspacing="0" border="0" width="100%">
	<tbody><tr>
		<td width="1" style="background-image: url(./templates/base/images/news/border.gif)"></td>
		<td>
		<table cellpadding="12" cellspacing="0" border="0" width="100%">
			<tbody><tr>
				<td align="left" class="newsText">
				<table cellpadding="0" cellspacing="0" border="0" width="100%">
				<tbody><tr><td class="newsTitle">StormWiki</td>
				<td class="newsDate" align="right" valign="middle">2006-10-02</td></tr>
				<tr><td colspan="2" valign="top" height="10"></td></tr>
				<tr><td class="newsLastComment" colspan="2" valign="top" height="1"></td></tr>
				</tbody></table>
					<img align="Right" src="./admin/fileGallery/wikilogo.gif" class="newsImageRight" alt="" title="">To all RTS and WWII fans, Stormregion is pleased to announce a tool to make finding and sharing information on our games easier. <i>The Storm is coming!</i> Visit it at Stormwiki, your one stop shop for the lowdown on our games.
<br>
<br>
<br>Direct Link:
<br><a href="http://www.stormregion.com/wiki/index.php/Main_Page" class="parseLink" target="_blank">http://www.stormregion.com/wiki/index.php/Main_Page</a>
				</td>
			</tr>
			<tr>
				<td>
					<table cellpadding="0" cellspacing="0" width="100%">
					<tbody><tr>
						<td align="left" valign="top" class="newsLastComment">
						</td>
						<td align="right" valign="top">
						</td>
					</tr>
					</tbody></table>
				</td>
			</tr>
		</tbody></table>
		</td>
		<td width="1" style="background-image: url(./templates/base/images/news/border.gif)"></td></tr>
	</tbody></table>

	</td>
</tr></tbody></table>
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tbody><tr>
	<td width="12" height="19"><img src="./templates/base/images/news/headerLeftCorner.gif" alt="" title=""></td>
	<td height="19" style="background-image: url(./templates/base/images/news/headerTile.gif)" width="100%" class="yellowLink">
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tbody><tr>
			<td class="newsHeader"><td width="666px"/></td>
			<td align="right"></td>
		</tr>
		</tbody></table>
	</td>
	<td width="29" height="19"><img src="./templates/base/images/news/headerRightCorner.gif" alt="" title=""></td>
</tr>
<tr>
	<td colspan="3">

	<table cellpadding="0" cellspacing="0" border="0" width="100%">
	<tbody><tr>
		<td width="1" style="background-image: url(./templates/base/images/news/border.gif)"></td>
		<td>
		<table cellpadding="12" cellspacing="0" border="0" width="100%">
			<tbody><tr>
				<td align="left" class="newsText">
				<table cellpadding="0" cellspacing="0" border="0" width="100%">
				<tbody><tr><td class="newsTitle">Modelling Competition</td>
				<td class="newsDate" align="right" valign="middle">2006-09-06</td></tr>
				<tr><td colspan="2" valign="top" height="10"></td></tr>
				<tr><td class="newsLastComment" colspan="2" valign="top" height="1"></td></tr>
				</tbody></table>
					<img align="Left" src="./admin/fileGallery/panzer_IV.gif" class="newsImageLeft" alt="" title="">The Modelling Competition is now live! It is time to be recognized for your talents. Many of you have what it takes and here is your opportunity to show it. So let`s see you strut your stuff on the modelling runway!!!!
<br>
<br><a href="admin/fileGallery/Modelling_Competition.rar" class="parseLink" target="_blank">Modelling Competition file</a>
<br>
<br>
<br><b>UPDATE!</b>
<br>Please send your submissions to support@stormregion.com.
<br>
<br><i>We will accept submissions up until the 31st of October, 2006. </i>
				</td>
			</tr>
			<tr>
				<td>
					<table cellpadding="0" cellspacing="0" width="100%">
					<tbody><tr>
						<td align="left" valign="top" class="newsLastComment">
						</td>
						<td align="right" valign="top">
						<a href="index.php?sid=1dff68170539bf53420ba3c2109ebb15&amp;articleID=212&amp;activeMenuID=rfb" class="newsRelatedLink">Click here to see the whole article..</a>
						</td>
					</tr>
					</tbody></table>
				</td>
			</tr>
		</tbody></table>
		</td>
		<td width="1" style="background-image: url(./templates/base/images/news/border.gif)"></td></tr>
	</tbody></table>

	</td>
</tr></tbody></table>
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tbody><tr>
	<td width="12" height="19"><img src="./templates/base/images/news/headerLeftCorner.gif" alt="" title=""></td>
	<td height="19" style="background-image: url(./templates/base/images/news/headerTile.gif)" width="100%" class="yellowLink">
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tbody><tr>
			<td class="newsHeader"><td width="666px"/></td>
			<td align="right"></td>
		</tr>
		</tbody></table>
	</td>
	<td width="29" height="19"><img src="./templates/base/images/news/headerRightCorner.gif" alt="" title=""></td>
</tr>
<tr>
	<td colspan="3">

	<table cellpadding="0" cellspacing="0" border="0" width="100%">
	<tbody><tr>
		<td width="1" style="background-image: url(./templates/base/images/news/border.gif)"></td>
		<td>
		<table cellpadding="12" cellspacing="0" border="0" width="100%">
			<tbody><tr>
				<td align="left" class="newsText">
				<table cellpadding="0" cellspacing="0" border="0" width="100%">
				<tbody><tr><td class="newsTitle">Rush for Berlin new patch and developer tools</td>
				<td class="newsDate" align="right" valign="middle">2006-08-21</td></tr>
				<tr><td colspan="2" valign="top" height="10"></td></tr>
				<tr><td class="newsLastComment" colspan="2" valign="top" height="1"></td></tr>
				</tbody></table>
					It`s Out!!! You got yourself one fine looking Editor and Game Modding Tool to make Rush for Berlin do all the quirky things that you always wanted it to. Now we want to see what you folks can do to make Rush for Berlin even better than it was before. So we are officially standing by, waiting to be dazzled!
<br>
<br><a href="admin/fileGallery/RfB_Patch_1.20.exe" class="parseLink" target="_blank">1.2 patch</a>
<br><a href="admin/fileGallery/RFB_Beginner_Mod.rar" class="parseLink" target="_blank">Developer tools - beginner pack</a>
<br><a href="admin/fileGallery/RFB_Advanced_Mod.rar" class="parseLink" target="_blank">Developer tools - advanced pack (requires Beginner Modding pack)</a>
				</td>
			</tr>
			<tr>
				<td>
					<table cellpadding="0" cellspacing="0" width="100%">
					<tbody><tr>
						<td align="left" valign="top" class="newsLastComment">
						</td>
						<td align="right" valign="top">
						<a href="index.php?sid=1dff68170539bf53420ba3c2109ebb15&amp;articleID=211&amp;activeMenuID=rfb" class="newsRelatedLink">Click here to see the whole article..</a>
						</td>
					</tr>
					</tbody></table>
				</td>
			</tr>
		</tbody></table>
		</td>
		<td width="1" style="background-image: url(./templates/base/images/news/border.gif)"></td></tr>
	</tbody></table>

	</td>
</tr></tbody></table>
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tbody><tr>
	<td width="12" height="19"><img src="./templates/base/images/news/headerLeftCorner.gif" alt="" title=""></td>
	<td height="19" style="background-image: url(./templates/base/images/news/headerTile.gif)" width="100%" class="yellowLink">
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tbody><tr>
			<td class="newsHeader"><td width="666px"/></td>
			<td align="right"></td>
		</tr>
		</tbody></table>
	</td>
	<td width="29" height="19"><img src="./templates/base/images/news/headerRightCorner.gif" alt="" title=""></td>
</tr>
<tr>
	<td colspan="3">

	<table cellpadding="0" cellspacing="0" border="0" width="100%">
	<tbody><tr>
		<td width="1" style="background-image: url(./templates/base/images/news/border.gif)"></td>
		<td>
		<table cellpadding="12" cellspacing="0" border="0" width="100%">
			<tbody><tr>
				<td align="left" class="newsText">
				<table cellpadding="0" cellspacing="0" border="0" width="100%">
				<tbody><tr><td class="newsTitle">Stormregion dominates tactical RTS top list in PC Games</td>
				<td class="newsDate" align="right" valign="middle">2006-08-16</td></tr>
				<tr><td colspan="2" valign="top" height="10"></td></tr>
				<tr><td class="newsLastComment" colspan="2" valign="top" height="1"></td></tr>
				</tbody></table>
					<a href="javascript:void(0);" onclick="window.open('admin/fileGallery/pcgames.jpg','','screenx=100, screeny=50,width=283,height=519,statusbar=0,scrollbars=1');"><img align="Left" src="./admin/fileGallery/pcgamesch2.jpg" class="newsImageLeft" alt="" title=""></a>Some days you have good days and some days you have great days! This happens to be the latter. We are exceedingly proud to present the best of the best tactical rts games EVER as chosen by PC Games Germany.
<br>
<br>Have yourself a little peek at numbers 1, 2 and 3 on the list. And these guys ain`t pushovers.
<br>
<br>
<br><b>1. Rush for Berlin
<br>2. Codename Panzers: Phase 2
<br>3. Codename Panzers</b>
<br>4. Soldiers: Heroes of WWII
<br>5. Freedom Force vs. The Third reich
<br>
				</td>
			</tr>
			<tr>
				<td>
					<table cellpadding="0" cellspacing="0" width="100%">
					<tbody><tr>
						<td align="left" valign="top" class="newsLastComment">
						</td>
						<td align="right" valign="top">
						</td>
					</tr>
					</tbody></table>
				</td>
			</tr>
		</tbody></table>
		</td>
		<td width="1" style="background-image: url(./templates/base/images/news/border.gif)"></td></tr>
	</tbody></table>

	</td>
</tr></tbody></table>
<table cellpadding="2" cellspacing="0" border="0" align="center"><tbody><tr><td><a href="index.php?sid=1dff68170539bf53420ba3c2109ebb15&amp;pageNumber=spf" class="pageInactive">&lt;&lt;</a></td><td width="1"></td><td><a href="index.php?sid=1dff68170539bf53420ba3c2109ebb15&amp;pageNumber=spb" class="pageInactive">&lt;</a></td><td width="2"></td><td align="center"><a href="index.php?sid=1dff68170539bf53420ba3c2109ebb15&amp;pageNumber=0&amp;activeMenuID=rfb" class="pageActive">1</a></td><td class="pageInactive" align="center" width="2">|</td><td align="center"><a href="index.php?sid=1dff68170539bf53420ba3c2109ebb15&amp;pageNumber=1&amp;activeMenuID=rfb" class="pageInactive">2</a></td><td class="pageInactive" align="center" width="2">|</td><td align="center"><a href="index.php?sid=1dff68170539bf53420ba3c2109ebb15&amp;pageNumber=2&amp;activeMenuID=rfb" class="pageInactive">3</a></td><td class="pageInactive" align="center" width="2">|</td><td align="center"><a href="index.php?sid=1dff68170539bf53420ba3c2109ebb15&amp;pageNumber=3&amp;activeMenuID=rfb" class="pageInactive">4</a></td><td class="pageInactive" align="center" width="2">|</td><td align="center"><a href="index.php?sid=1dff68170539bf53420ba3c2109ebb15&amp;pageNumber=4&amp;activeMenuID=rfb" class="pageInactive">5</a></td><td class="pageInactive" align="center" width="2">|</td><td align="center"><a href="index.php?sid=1dff68170539bf53420ba3c2109ebb15&amp;pageNumber=5&amp;activeMenuID=rfb" class="pageInactive">6</a></td><td width="2"></td><td><a href="index.php?sid=1dff68170539bf53420ba3c2109ebb15&amp;pageNumber=spn" class="pageInactive">&gt;</a></td><td width="1"></td><td><a href="index.php?sid=1dff68170539bf53420ba3c2109ebb15&amp;pageNumber=spl" class="pageInactive">&gt;&gt;</a></td></tr></tbody></table></td></tr></tbody></table></td>

<!-- end page stuff -->

<td width='144' style='background-image: url(./templates/base/images/rightBG.gif)' valign='top' align='right'>
    <table cellpadding='0' cellspacing='0' border='0' width='144'>
        <tr>
            <td width='9'><img src='./templates/base/images/box/rightSeparator.gif' alt='' title=''></td>
            <td width='135' bgcolor='#4372A4'>
			{% include inc_login.html %}
</td></tr><tr><td colspan='2'><img src='./templates/base/images/separator.gif' alt='' title=''></td></table><table width='144' cellpadding='0' cellspacing='0' border='0' style='background-image: url(./templates/base/images/topTopic/bgTile.gif)'>
<tr>
	<td colspan='2'>
		<img src='./templates/base/images/topTopic/header.gif' alt='' title=''>
	</td>
</tr>
{% include inc_top5.html %}
</table>

{% include inc_instore.html %}
</td></tr><tr><td height='26' bgcolor='#4976A6' align='center' valign='middle' class='whiteText' colspan='3'>
<table width='1000' cellpadding='0' cellspacing='0' border='0'>
	{% include inc_copy.html %}
</table>
</td></tr></table></center></body>
{% include extras/cookies.html %}
</html>
