---
layout: null
---
{% include base.html %}
 <!-- end of site base -->
            <tr height='2'>
                <td></td>
            </tr>
        </table>
    </td>
</tr>
	<tr style='background-image: url(./templates/base/images/header/index_07.gif); background-repeat: repeat-x;' valign='top' height='62'>
		<td colspan='2'>
		<table width="1000" height='62' border="0" cellpadding="0" cellspacing="0">
      <tr valign="bottom"><td rowspan="2" width="169" height="62"><img src="./templates/base/images/header/index_04.gif" width="169" height="62" alt=""></td>
      		<td width="74" height="44" colspan="2" style="background-image: url(./templates/base/images/header/index_06.gif); background-position:top left; background-repeat: no-repeat;"></td>
      		<td rowspan="2" align="center" height="62">
      			<!--<embed src="/web/20070818103541oe_/http://www.stormregion.com/templates/base/images/header/banner.swf" style="z-index: -1;" wmode="opaque" height="55" width="445">
      			 <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/ca" width="445" title="NATO Harci Pilóta Toborzás!" align="bottom" height="55">
                          		<param name="movie" value="./templates/base/images/header/banner.swf">
                    		<param name="quality" value="high">
                          		<embed src="./templates/base/images/header/banner.swf" quality="high" name="nato_mini" style="z-index: -1;"  wmode="opaque" type="application/x" pluginspage="http://www.macromedia.com/go/getflashpl" title="NATO Harci Pilóta Toborzás!" align="allowScriptAccess=&quot;sameDomain&quot;" height="55" width="445">
                  		</object>    -->
      		</td>
      		<td width="148"></td>
      		</tr>
		<tr> <!-- this place was fixed, see images in admin folder "SRbeforeFIX" "SRafterFIX" -->
			<td height="18">
				<img src="./templates/base/images/header/titles/headerBottomNews.gif" height="18" alt=""><img src="./templates/base/images/header/index_10.gif" width="20" height="18" alt=""></td>
			<td>
				</td></tr>
		</table>
		</td>
	</tr>
	<tr style='background-image: url(./templates/base/images/header/index_13.gif); background-repeat: repeat-x;' valign='top' height="19">
		<td colspan='2'>
		<table width="1000"  border="0" cellpadding="0" cellspacing="0">
		<tr height="19">
		<td width="148">
			<img src="./templates/base/images/header/index_11.gif" width="148" height="19" alt=""></td>
		<td width="22">
			<img src="./templates/base/images/header/index_12.gif" width="22" height="19" alt=""></td>
		<td width='669'></td>
		<td width="13">
			<img src="./templates/base/images/header/index_16.gif" width="13" height="19" alt=""></td>
		<td  width="148">
			<img src="./templates/base/images/header/index_17.gif" width="148" height="19" alt=""></td></tr>
		</table>
		</td>
	</tr>
		<tr bgcolor='#D9D9D9' valign='top' height='8'>
		<td colspan='2'>
		<table width="1000"  border="0" cellpadding="0" cellspacing="0">
		<tr height="8"><td width="212">
			<img src="./templates/base/images/header/index_18.gif" width="212" height="8" alt=""></td>
		<td width='575'></td>
		<td width="213">
			<img src="./templates/base/images/header/index_21.gif" width="213" height="8" alt=""></td>
		</tr>
		</table>
		</td>
	</tr>
</table>
</td></tr>

<!-- sidebar tags -->
<tr>
  <td width='144' height='100%' valign='top' style='background-image: url(./templates/base/images/leftBG.gif)' align='left'>

  <!-- download and info start -->
<table cellpadding="0" cellspacing="0" border="0" width="144"><tbody><tr><td width="135" bgcolor="#4372A4"><table cellpadding="0" cellspacing="0" border="0" width="100%">
<tbody><tr>
	<td height="10" colspan="3"></td>
</tr>
	<tr>
		<td width="9"></td>
		<td width="18"></td>
	<tr>
		<td width="9"></td>
		<td colspan="2"><a href="index.php?sid=33c990856d361a869d772175b138b723&amp;activeSubMenuID=rfb_download&amp;activeMenuID=rfb" class="selectedMenuText">News</a></td>
	</tr>
	<tr>
		<td width="9"></td>
		<td colspan="2" height="1" style="background-image: url(./templates/base/images/extraMenu/line.gif)"></td>
	</tr>
	<tr>
		<td height="5" colspan="3"></td>
	</tr>
	<tr>
		<td width="9"></td>
		<td width="18"></td>
		<td><a href="index.php?sid=33c990856d361a869d772175b138b723&amp;activeSubMenuID=rfb_gallery&amp;activeMenuID=rfb" class="menuText">Details</a></td>
	</tr>
	<tr>
		<td colspan="2"></td>
		<td height="1" style="background-image: url(./templates/base/images/extraMenu/line.gif)"></td>
	</tr>
	<tr>
		<td height="5" colspan="3"></td>
	</tr>
	<tr>
		<td width="9"></td>
		<td width="18"></td>
		<td><a href="https://web.archive.org/web/20070818103541/http://www.rushforberlin.com/" class="menuText" target="_blank">Downloads</a></td>
	</tr>
	<tr>
		<td colspan="2"></td>
		<td height="1" style="background-image: url(./templates/base/images/extraMenu/line.gif)"></td>
	</tr>
	<tr>
		<td height="5" colspan="3"></td>
	</tr>
	<tr>
		<td width="9"></td>
		<td width="18"></td>
		<td><a href="index.php?sid=33c990856d361a869d772175b138b723&amp;activeSubMenuID=rfb_media&amp;serialProjectID=104&amp;activeMenuID=rfb" class="menuText">Screenshots</a></td>
	</tr>
	<tr>
		<td colspan="2"></td>
		<td height="1" style="background-image: url(./templates/base/images/extraMenu/line.gif)"></td>
	</tr>
	<tr>
		<td height="5" colspan="3"></td>
	</tr>
  <tr>
    <td width="9"></td>
    <td width="18"></td>
    <td><a href="index.php?sid=33c990856d361a869d772175b138b723&amp;activeSubMenuID=rfb_media&amp;serialProjectID=104&amp;activeMenuID=rfb" class="menuText">Media</a></td>
  </tr>
  <tr>
    <td colspan="2"></td>
    <td height="1" style="background-image: url(./templates/base/images/extraMenu/line.gif)"></td>
  </tr>
  <tr>
    <td height="5" colspan="3"></td>
  </tr>
	<tr>
		<td width="9"></td>
		<td width="18"></td>
		<td><a href="index.php?sid=33c990856d361a869d772175b138b723&amp;activeSubMenuID=mod2&amp;activeMenuID=rfb" class="menuText">Mods</a></td>
	</tr>
	<tr>
		<td colspan="2"></td>
		<td height="1" style="background-image: url(./templates/base/images/extraMenu/line.gif)"></td>
	</tr>
	<tr>
		<td height="5" colspan="3"></td>
	</tr>
	<tr>
		<td width="9"></td>
	</tr><tr>
		<td height="5" colspan="3"></td>
	</tr>
<tr>
	<td height="10" colspan="3"></td>
</tr>
</tbody></table>
</td><td width="9"><img src="./templates/base/images/box/leftSeparator.gif" alt="" title=""></td></tr><tr><td colspan="2"><img src="./templates/base/images/separator.gif" alt="" title=""></td></tr></tbody></table>

<!-- download and info end -->

<!-- poll start -->
{% include inc_poll.html %}
<!-- poll end -->
<!-- screenShot start -->
{% include inc_screenshot.html %}
<!-- screenShot end -->
<!-- page stuff.. finally! -->
<input type='hidden' name='activepage2' value='news.php'><input type='hidden' name='activemenuid2' value='news'><input type='hidden' name='activesubmenuid2' value='-1'>
<input type='hidden' name='activeprojectid2' value='-1'><input type='hidden' name='articleid2' value=''>

<td width="712" bgcolor="#DBDBDB" valign="top"><table cellpadding="5" cellspacing="0" border="0" bgcolor="#DBDBDB" width="100%"><tbody><tr><td><table cellpadding="0" cellspacing="0" border="0" width="100%">
<tbody><tr>
	<td height="1" bgcolor="#B11011"></td>
</tr>
<tr>
	<td>
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tbody><tr>
			<td width="1" bgcolor="#B11011"></td>
			<td>
			<table cellpadding="12" cellspacing="0" border="0" width="100%">
				<tbody><tr>
					<td align="left" class="newsText" bgcolor="#FFFCDF">
						<img align="Left" src="admin/fileGallery/swinedoboz.jpg" class="newsImageLeft" alt="" title="">S.W.I.N.E. is a real-time tactical strategy game in which you must carry out extremely varied missions while taking advantage of the terrain and your units’ special abilities. Your army’s abilities and strengths will then develop over the course of the game. Before and during the missions, you will also have the opportunity to purchase or sell units, and upgrade or augment them with various items of equipment. However, this will cost you some of the strategic points (SP) you receive for destroying enemy objects (units, buildings, etc.) and for successfully completing your missions. Further strategical components include the use of the air force and supply trailers (repairs, ammunition, and fuel). Clever exploitation of the terrain, selecting the proper units, and the optimum utilization of your abilities will enable even a small force to do battle against an enemy with numerical superiority.
						<br><br>
						<a href="index.php?sid=c6ba1a793aabf3de20691049c2be7bc2&amp;activeSubMenuID=swine_details&amp;activeMenuID=swine" class="infoHeaderLink">more details..</a>
					</td>
				</tr>
			</tbody></table>
			</td>
			<td width="1" bgcolor="#B11011"></td>
		</tr>
		</tbody></table>
	</td>
</tr>
<tr>
	<td height="1" bgcolor="#B11011"></td>
</tr>
</tbody></table>
<br>

<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tbody><tr>
	<td width="12" height="19"><img src="templates/base/images/news/headerLeftCorner.gif" alt="" title=""></td>
	<td height="19" style="background-image: url(templates/base/images/news/headerTile.gif)" width="100%" class="yellowLink">
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tbody><tr>
			<td class="newsHeader">S.W.I.N.E. Now has mods! Thanks, bads.tm!<td width="100px"/></td>
			<td align="right"></td>
		</tr>
		</tbody></table>
	</td>
	<td width="29" height="19"><img src="templates/base/images/news/headerRightCorner.gif" alt="" title=""></td>
</tr>
<tr>
	<td colspan="3">

	<table cellpadding="0" cellspacing="0" border="0" width="100%">
	<tbody><tr>
		<td width="1" style="background-image: url(templates/base/images/news/border.gif)"></td>
		<td>
		<table cellpadding="12" cellspacing="0" border="0" width="100%">
			<tbody><tr>
				<td align="left" class="newsText">
				<table cellpadding="0" cellspacing="0" border="0" width="100%">
				<tbody><tr><td class="newsTitle">S.W.I.N.E. modding is now possible. After so damn long time!</td>
				<td class="newsDate" align="right" valign="middle">2018-06-30</td></tr>
				<tr><td colspan="2" valign="top" height="10"></td></tr>
				<tr><td class="newsLastComment" colspan="2" valign="top" height="1"></td></tr>
				</tbody></table>
					If you missed it, bads.tm in 2017 found a way to mod S.W.I.N.E. and use mods easily! As well as modding outside PAK files!
				</td>
			</tr>
			<tr>
				<td>
					<table cellpadding="0" cellspacing="0" width="100%">
					<tbody><tr>
						<td align="left" valign="top" class="newsLastComment">
						</td>
						<td align="right" valign="top">
						</td>
					</tr>
					</tbody></table>
				</td>
			</tr>
		</tbody></table>
		</td>
		<td width="1" style="background-image: url(templates/base/images/news/border.gif)"></td></tr>
	</tbody></table>

	</td>
</tr></tbody></table>

<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tbody><tr>
	<td width="12" height="19"><img src="templates/base/images/news/headerLeftCorner.gif" alt="" title=""></td>
	<td height="19" style="background-image: url(templates/base/images/news/headerTile.gif)" width="100%" class="yellowLink">
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tbody><tr>
			<td class="newsHeader"><td width="100px"/></td>
			<td align="right"></td>
		</tr>
		</tbody></table>
	</td>
	<td width="29" height="19"><img src="templates/base/images/news/headerRightCorner.gif" alt="" title=""></td>
</tr>
<tr>
	<td colspan="3">

	<table cellpadding="0" cellspacing="0" border="0" width="100%">
	<tbody><tr>
		<td width="1" style="background-image: url(templates/base/images/news/border.gif)"></td>
		<td>
		<table cellpadding="12" cellspacing="0" border="0" width="100%">
			<tbody><tr>
				<td align="left" class="newsText">
				<table cellpadding="0" cellspacing="0" border="0" width="100%">
				<tbody><tr><td class="newsTitle">S.W.I.N.E. patch</td>
				<td class="newsDate" align="right" valign="middle">2006-01-06</td></tr>
				<tr><td colspan="2" valign="top" height="10"></td></tr>
				<tr><td class="newsLastComment" colspan="2" valign="top" height="1"></td></tr>
				</tbody></table>
					For those who own the retail version of S.W.I.N.E., patch v1.9 is now available to download (English,  French and German version):
<br>
<br><a href="admin/fileGallery/swine_1.9_patch_en.zip" class="parseLink" target="_blank">English patch</a>
<br><a href="admin/fileGallery/swine_1.9_patch_fr.zip" class="parseLink" target="_blank">French patch</a>
<br><a href="admin/fileGallery/swine_1.9_patch_de.zip" class="parseLink" target="_blank">German patch</a>
<br>
<br>S.W.I.N.E. Free Edition can`t be updated, it`s already v1.9.
<br>
<br><b>Update</b>
<br>Mirror:
<br><a href="http://www.3dgamers.com/games/swine/downloads/" class="parseLink" target="_blank">3dgamers.com</a>
				</td>
			</tr>
			<tr>
				<td>
					<table cellpadding="0" cellspacing="0" width="100%">
					<tbody><tr>
						<td align="left" valign="top" class="newsLastComment">
						</td>
						<td align="right" valign="top">
						</td>
					</tr>
					</tbody></table>
				</td>
			</tr>
		</tbody></table>
		</td>
		<td width="1" style="background-image: url(templates/base/images/news/border.gif)"></td></tr>
	</tbody></table>

	</td>
</tr></tbody></table>
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tbody><tr>
	<td width="12" height="19"><img src="templates/base/images/news/headerLeftCorner.gif" alt="" title=""></td>
	<td height="19" style="background-image: url(templates/base/images/news/headerTile.gif)" width="100%" class="yellowLink">
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tbody><tr>
			<td class="newsHeader"><td width="100px"/></td>
			<td align="right"></td>
		</tr>
		</tbody></table>
	</td>
	<td width="29" height="19"><img src="templates/base/images/news/headerRightCorner.gif" alt="" title=""></td>
</tr>
<tr>
	<td colspan="3">

	<table cellpadding="0" cellspacing="0" border="0" width="100%">
	<tbody><tr>
		<td width="1" style="background-image: url(templates/base/images/news/border.gif)"></td>
		<td>
		<table cellpadding="12" cellspacing="0" border="0" width="100%">
			<tbody><tr>
				<td align="left" class="newsText">
				<table cellpadding="0" cellspacing="0" border="0" width="100%">
				<tbody><tr><td class="newsTitle">Over 100.000 S.W.I.N.E. downloads</td>
				<td class="newsDate" align="right" valign="middle">2006-01-03</td></tr>
				<tr><td colspan="2" valign="top" height="10"></td></tr>
				<tr><td class="newsLastComment" colspan="2" valign="top" height="1"></td></tr>
				</tbody></table>
					In less than two weeks the worldwide downloads of S.W.I.N.E. have reached 100.000!
<br>Big thanks to everybody who downloaded and played the game and to those sites that helped us with placing the files on their servers.
				</td>
			</tr>
			<tr>
				<td>
					<table cellpadding="0" cellspacing="0" width="100%">
					<tbody><tr>
						<td align="left" valign="top" class="newsLastComment">
						</td>
						<td align="right" valign="top">
						</td>
					</tr>
					</tbody></table>
				</td>
			</tr>
		</tbody></table>
		</td>
		<td width="1" style="background-image: url(templates/base/images/news/border.gif)"></td></tr>
	</tbody></table>

	</td>
</tr></tbody></table>
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tbody><tr>
	<td width="12" height="19"><img src="templates/base/images/news/headerLeftCorner.gif" alt="" title=""></td>
	<td height="19" style="background-image: url(templates/base/images/news/headerTile.gif)" width="100%" class="yellowLink">
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tbody><tr>
			<td class="newsHeader"><td width="160px"/></td>
			<td align="right"></td>
		</tr>
		</tbody></table>
	</td>
	<td width="29" height="19"><img src="templates/base/images/news/headerRightCorner.gif" alt="" title=""></td>
</tr>
<tr>
	<td colspan="3">

	<table cellpadding="0" cellspacing="0" border="0" width="100%">
	<tbody><tr>
		<td width="1" style="background-image: url(templates/base/images/news/border.gif)"></td>
		<td>
		<table cellpadding="12" cellspacing="0" border="0" width="100%">
			<tbody><tr>
				<td align="left" class="newsText">
				<table cellpadding="0" cellspacing="0" border="0" width="100%">
				<tbody><tr><td class="newsTitle">S.W.I.N.E. Free Christmas Edition</td>
				<td class="newsDate" align="right" valign="middle">2005-12-20</td></tr>
				<tr><td colspan="2" valign="top" height="10"></td></tr>
				<tr><td class="newsLastComment" colspan="2" valign="top" height="1"></td></tr>
				</tbody></table>
					<a href="javascript:void(0);" onclick="window.open('admin/fileGallery/happy1.jpg','','screenx=100, screeny=50,width=920,height=1320,statusbar=0,scrollbars=1');"><img align="Left" src="admin/fileGallery/happy2.jpg" class="newsImageLeft" alt="" title=""></a>Stormregion wishes a Merry Christmas and a Prosperous New Year to all stategy game fan with the <b>full </b>English, German and French version of S.W.I.N.E.
<br>Don`t be a Carrotland-rabbit, download and play: the National Pig Army authorized the free usage of this software.
<br>
<br>You can download the game from the following BitTorrent links:
<br><a href="http://bittorrent.stormregion.com/download.php/9/swine_en.exe.torrent" class="parseLink" target="_blank"><b>English S.W.I.N.E.</b></a>
<br>
<br><b>English</b> non-torrent mirrors:
<br><a href="http://www.gamershell.com/download_11942.shtml" class="parseLink" target="_blank">www.gamershell.com</a>
<br><a href="http://www.playfuls.com/gamespace_1120_download_472_SWINE_full_game.html" class="parseLink" target="_blank">www.playfuls.com</a>
<br><a href="http://www.3dgamers.com/games/swine/downloads/" class="parseLink" target="_blank">www.3dgamers.com</a>
<br><a href="http://www.fragzunlimited.com/modules.php?name=Downloads&amp;d_op=viewdownloaddetails&amp;cid=397&amp;lid=387&amp;ttitle=Swine%20Full%20Free%20English%20Game" class="parseLink" target="_blank">www.fragzunlimited.com</a>
<br><a href="http://www.fileplanet.com/159468/150000/fileinfo/SWINE-%5BFREE-Game%5D?r=5" class="parseLink" target="_blank">www.fileplanet.com</a>
<br><a href="http://files.filefront.com/FILE_VOTE/;4499660;5;/fileinfo.html" class="parseLink" target="_blank">www.filefront.com</a>
<br><a href="http://www.fz.se/filarkiv/?file=spel/swine/swine_en.exe" class="parseLink" target="_blank">www.fz.se</a>
<br><a href="http://download.winboard.org/downloads.php?release_id=1189" class="parseLink" target="_blank">www.winboard.org</a>
<br>
<br><a href="http://bittorrent.stormregion.com/download.php/8/swine_de.exe.torrent" class="parseLink" target="_blank"><b>German S.W.I.N.E.</b></a>
<br>
<br><b>German</b> non-torrent mirrors:
<br><a href="http://www.gamershell.com/download_11982.shtml" class="parseLink" target="_blank">www.gamershell.com</a>
<br><a href="http://download.freenet.de/archiv_s/swine_7719.html " class="parseLink" target="_blank">freenet.de</a>
<br><a href="http://www.fragzunlimited.com/modules.php?name=Downloads&amp;d_op=viewdownloaddetails&amp;cid=397&amp;lid=389&amp;ttitle=Swine%20Full%20Free%20Deutsch%20Game#dldetails" class="parseLink" target="_blank">www.fragzunlimited.com</a>
<br><a href="http://www.tahiroglu.de/" class="parseLink" target="_blank">www.tahiroglu.de</a>
<br><a href="http://www.pcwelt.de/downloads/entertainment_spiele/spiele/128429/" class="parseLink" target="_blank">www.pcwelt.de</a>
<br><a href="http://www.gamesdesk.de/index.php?layout=show_downloads&amp;did=586&amp;stats=down" class="parseLink" target="_blank">www.gamedesk.de</a>
<br>
<br><a href="http://bittorrent.stormregion.com/download.php/10/swine_fr.exe.torrent" class="parseLink" target="_blank"><b>French S.W.I.N.E.</b></a>
<br>
<br><b>French </b>non-torrent mirror:
<br><a href="http://www.gamershell.com/download_12028.shtml" class="parseLink" target="_blank">www.gamershell.com</a>
<br><a href="http://www.fragzunlimited.com/modules.php?name=Downloads&amp;d_op=viewdownloaddetails&amp;cid=397&amp;lid=398&amp;ttitle=Swine%20Full%20Free%20French%20Game#dldetails" class="parseLink" target="_blank">www.fragzunlimited.com</a>
<br>
<br>(we are still waiting for mirrors... Got one? Please email: info@stormregion.com)
<br>
<br>(help: to download the software, you`ll need a BitTorrent client like <a href="http://azureus.sourceforge.net/download.php" class="parseLink" target="_blank">Azureus</a>)
				</td>
			</tr>
			<tr>
				<td>
					<table cellpadding="0" cellspacing="0" width="100%">
					<tbody><tr>
						<td align="left" valign="top" class="newsLastComment">
						</td>
						<td align="right" valign="top">
						</td>
					</tr>
					</tbody></table>
				</td>
			</tr>
		</tbody></table>
		</td>
		<td width="1" style="background-image: url(templates/base/images/news/border.gif)"></td></tr>
	</tbody></table>

	</td>
</tr></tbody></table>
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tbody><tr>
	<td width="12" height="19"><img src="templates/base/images/news/headerLeftCorner.gif" alt="" title=""></td>
	<td height="19" style="background-image: url(templates/base/images/news/headerTile.gif)" width="100%" class="yellowLink">
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tbody><tr>
			<td class="newsHeader"><td width="666px"/></td>
			<td align="right"></td>
		</tr>
		</tbody></table>
	</td>
	<td width="29" height="19"><img src="templates/base/images/news/headerRightCorner.gif" alt="" title=""></td>
</tr>
<tr>
	<td colspan="3">

	<table cellpadding="0" cellspacing="0" border="0" width="100%">
	<tbody><tr>
		<td width="1" style="background-image: url(templates/base/images/news/border.gif)"></td>
		<td>
		<table cellpadding="12" cellspacing="0" border="0" width="100%">
			<tbody><tr>
				<td align="left" class="newsText">
				<table cellpadding="0" cellspacing="0" border="0" width="100%">
				<tbody><tr><td class="newsTitle">Free roast P.O.R.K. served by Stormregion - 5 days to go!</td>
				<td class="newsDate" align="right" valign="middle">2005-12-15</td></tr>
				<tr><td colspan="2" valign="top" height="10"></td></tr>
				<tr><td class="newsLastComment" colspan="2" valign="top" height="1"></td></tr>
				</tbody></table>
					<img align="Left" src="admin/fileGallery/swine.jpg" class="newsImageLeft" alt="" title="">
<br>Four years in a H.O.G.`s life can be a long period, but you`ll be wrong if you think a veteran P.I.G. is an old P.I.G.
<br>That`s why Stormregion invites everybody directly to the fireplace who wants to get a full S.O.W. menu. Don`t be afraid, because everybody will get his portion.
<br>We`ll meet on 20th December on www.stormregion.com! Attaaaaaaack!
				</td>
			</tr>
			<tr>
				<td>
					<table cellpadding="0" cellspacing="0" width="100%">
					<tbody><tr>
						<td align="left" valign="top" class="newsLastComment">
						</td>
						<td align="right" valign="top">
						</td>
					</tr>
					</tbody></table>
				</td>
			</tr>
		</tbody></table>
		</td>
		<td width="1" style="background-image: url(templates/base/images/news/border.gif)"></td></tr>
	</tbody></table>

	</td>
</tr></tbody></table>
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tbody><tr>
	<td width="12" height="19"><img src="templates/base/images/news/headerLeftCorner.gif" alt="" title=""></td>
	<td height="19" style="background-image: url(templates/base/images/news/headerTile.gif)" width="100%" class="yellowLink">
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tbody><tr>
			<td class="newsHeader"><td width="176px"/></td>
			<td align="right"></td>
		</tr>
		</tbody></table>
	</td>
	<td width="29" height="19"><img src="templates/base/images/news/headerRightCorner.gif" alt="" title=""></td>
</tr>
<tr>
	<td colspan="3">

	<table cellpadding="0" cellspacing="0" border="0" width="100%">
	<tbody><tr>
		<td width="1" style="background-image: url(templates/base/images/news/border.gif)"></td>
		<td>
		<table cellpadding="12" cellspacing="0" border="0" width="100%">
			<tbody><tr>
				<td align="left" class="newsText">
				<table cellpadding="0" cellspacing="0" border="0" width="100%">
				<tbody><tr><td class="newsTitle">Stormregion sign contract with 10TACLE to secure rights to Codename Panzers II</td>
				<td class="newsDate" align="right" valign="middle">2005-09-04</td></tr>
				<tr><td colspan="2" valign="top" height="10"></td></tr>
				<tr><td class="newsLastComment" colspan="2" valign="top" height="1"></td></tr>
				</tbody></table>
					<img align="Left" src="admin/fileGallery/10t-mainlogo.gif" class="newsImageLeft" alt="" title="">The official successor to the successful strategy series by Stormregion will presumably open the fire again in 2008.
<br>With the second part of Codename Panzers 10TACLE STUDIOS AG for the first time explore the segment of real-time strategy games. 10TACLE are particularly proud to work with the experienced Stormregion team which was able to set standards in this genre quite a few times. "Codename Panzers II" will be designed as a complete new development and even the setting will leave the World War II scenario. The game is supposed to be released for PC in 2008, more adaptions to other gaming consoles are being discussed.
				</td>
			</tr>
			<tr>
				<td>
					<table cellpadding="0" cellspacing="0" width="100%">
					<tbody><tr>
						<td align="left" valign="top" class="newsLastComment">
						</td>
						<td align="right" valign="top">
						</td>
					</tr>
					</tbody></table>
				</td>
			</tr>
		</tbody></table>
		</td>
		<td width="1" style="background-image: url(templates/base/images/news/border.gif)"></td></tr>
	</tbody></table>

	</td>
</tr></tbody></table>
<table cellpadding="2" cellspacing="0" border="0" align="center"><tbody><tr><td><a href="index.php?sid=c6ba1a793aabf3de20691049c2be7bc2&amp;pageNumber=spf" class="pageInactive">&lt;&lt;</a></td><td width="1"></td><td><a href="index.php?sid=c6ba1a793aabf3de20691049c2be7bc2&amp;pageNumber=spb" class="pageInactive">&lt;</a></td><td width="2"></td><td align="center"><a href="index.php?sid=c6ba1a793aabf3de20691049c2be7bc2&amp;pageNumber=0&amp;activeMenuID=swine" class="pageActive">1</a></td><td class="pageInactive" align="center" width="2">|</td><td align="center"><a href="index.php?sid=c6ba1a793aabf3de20691049c2be7bc2&amp;pageNumber=1&amp;activeMenuID=swine" class="pageInactive">2</a></td><td width="2"></td><td><a href="index.php?sid=c6ba1a793aabf3de20691049c2be7bc2&amp;pageNumber=spn" class="pageInactive">&gt;</a></td><td width="1"></td><td><a href="index.php?sid=c6ba1a793aabf3de20691049c2be7bc2&amp;pageNumber=spl" class="pageInactive">&gt;&gt;</a></td></tr></tbody></table></td></tr></tbody></table></td>

<!-- end page stuff -->

<td width='144' style='background-image: url(./templates/base/images/rightBG.gif)' valign='top' align='right'>
    <table cellpadding='0' cellspacing='0' border='0' width='144'>
        <tr>
            <td width='9'><img src='./templates/base/images/box/rightSeparator.gif' alt='' title=''></td>
            <td width='135' bgcolor='#4372A4'>
			{% include inc_login.html %}
</td></tr><tr><td colspan='2'><img src='./templates/base/images/separator.gif' alt='' title=''></td></table><table width='144' cellpadding='0' cellspacing='0' border='0' style='background-image: url(./templates/base/images/topTopic/bgTile.gif)'>
<tr>
	<td colspan='2'>
		<img src='./templates/base/images/topTopic/header.gif' alt='' title=''>
	</td>
</tr>
{% include inc_top5.html %}
</table>

{% include inc_instore.html %}
</td></tr><tr><td height='26' bgcolor='#4976A6' align='center' valign='middle' class='whiteText' colspan='3'>
<table width='1000' cellpadding='0' cellspacing='0' border='0'>
	{% include inc_copy.html %}
</table>
</td></tr></table></center></body>
{% include extras/cookies.html %}
</html>
