---
layout: null
---
{% include base.html %}
 <!-- end of site base -->
            <tr height='2'>
                <td></td>
            </tr>
        </table>
    </td>
</tr>
	<tr style='background-image: url(./templates/base/images/header/index_07.gif); background-repeat: repeat-x;' valign='top' height='62'>
		<td colspan='2'>
		<table width="1000" height='62' border="0" cellpadding="0" cellspacing="0">
		<tr valign='bottom'><td rowspan="2" width="169" height="62" ><img src="./templates/base/images/header/index_04.gif" width="169" height="62" alt=""></td>
		<td width="74" height="44" colspan="2" style='background-image: url(./templates/base/images/header/index_06.gif); background-position:top left; background-repeat: no-repeat;'></td>
		<td rowspan="2" align='center' height="62">
			<!--<embed src="./templates/base/images/header/banner.swf" style="z-index: -1;"  wmode="opaque" height="55" width="445"></embed>
			 <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/ca" width="445" title="NATO Harci Pilóta Toborzás!" align="bottom" height="55">
                    		<param name="movie" value="./templates/base/images/header/banner.swf">
              		<param name="quality" value="high">
                    		<embed src="./templates/base/images/header/banner.swf" quality="high" name="nato_mini" style="z-index: -1;"  wmode="opaque" type="application/x" pluginspage="http://www.macromedia.com/go/getflashpl" title="NATO Harci Pilóta Toborzás!" align="allowScriptAccess=&quot;sameDomain&quot;" height="55" width="445">
            		</object>    -->
		</td>
		<td width='148'></td>
		</tr>
		<tr> <!-- this place was fixed, see images in admin folder "SRbeforeFIX" "SRafterFIX" -->
			<td height="18">
				<img src="./templates/base/images/header/titles/headerBottomNews.gif" height="18" alt=""><img src="./templates/base/images/header/index_10.gif" width="20" height="18" alt=""></td>
			<td>
				</td></tr>
		</table>
		</td>
	</tr>
	<tr style='background-image: url(./templates/base/images/header/index_13.gif); background-repeat: repeat-x;' valign='top' height="19">
		<td colspan='2'>
		<table width="1000"  border="0" cellpadding="0" cellspacing="0">
		<tr height="19">
		<td width="148">
			<img src="./templates/base/images/header/index_11.gif" width="148" height="19" alt=""></td>
		<td width="22">
			<img src="./templates/base/images/header/index_12.gif" width="22" height="19" alt=""></td>
		<td width='669'></td>
		<td width="13">
			<img src="./templates/base/images/header/index_16.gif" width="13" height="19" alt=""></td>
		<td  width="148">
			<img src="./templates/base/images/header/index_17.gif" width="148" height="19" alt=""></td></tr>
		</table>
		</td>
	</tr>
		<tr bgcolor='#D9D9D9' valign='top' height='8'>
		<td colspan='2'>
		<table width="1000"  border="0" cellpadding="0" cellspacing="0">
		<tr height="8"><td width="212">
			<img src="./templates/base/images/header/index_18.gif" width="212" height="8" alt=""></td>
		<td width='575'></td>
		<td width="213">
			<img src="./templates/base/images/header/index_21.gif" width="213" height="8" alt=""></td>
		</tr>
		</table>
		</td>
	</tr>
</table>
</td></tr>

<!-- sidebar tags -->
<tr>
	<td width='144' height='100%' valign='top' style='background-image: url(./templates/base/images/leftBG.gif)' align='left'>
 {% include inc_poll.html %}
 {% include inc_screenshot.html %}
 <!-- page stuff.. finally! -->
<input type='hidden' name='activepage2' value='news.php'><input type='hidden' name='activemenuid2' value='news'><input type='hidden' name='activesubmenuid2' value='-1'>
<input type='hidden' name='activeprojectid2' value='-1'><input type='hidden' name='articleid2' value=''>
<td width='712' bgcolor='#DBDBDB' valign='top'>
<!-- bads custom post start -->
<table cellpadding='0' cellspacing='0' border='0' width='100%'>
<b>404: Page not found! Oh wait, this is not real 404. It's a base for maintainers to create pages without main page stuff...</b>
</td></table></td>

<!-- end page stuff -->

<td width='144' style='background-image: url(./templates/base/images/rightBG.gif)' valign='top' align='right'>
    <table cellpadding='0' cellspacing='0' border='0' width='144'>
        <tr>
            <td width='9'><img src='./templates/base/images/box/rightSeparator.gif' alt='' title=''></td>
            <td width='135' bgcolor='#4372A4'>
			{% include inc_login.html %}
</td></tr><tr><td colspan='2'><img src='./templates/base/images/separator.gif' alt='' title=''></td></table><table width='144' cellpadding='0' cellspacing='0' border='0' style='background-image: url(./templates/base/images/topTopic/bgTile.gif)'>
<tr>
	<td colspan='2'>
		<img src='./templates/base/images/topTopic/header.gif' alt='' title=''>
	</td>
</tr>
{% include inc_top5.html %}
</table>

{% include inc_instore.html %}
</td></tr><tr><td height='26' bgcolor='#4976A6' align='center' valign='middle' class='whiteText' colspan='3'>
<table width='1000' cellpadding='0' cellspacing='0' border='0'>
	{% include inc_copy.html %}
</table>
</td></tr></table></center></body>
{% include extras/cookies.html %}
</html>
