                            <li><a>Games</a>
                                <ul style='width:140px;'>
                                    <li><a href='gm_pcw.html'>Codename:&nbsp;Panzers&nbsp;-&nbsp;Cold&nbsp;War</a>
                                        <li><a href='gm_rftb.html'>Rush&nbsp;for&nbsp;the&nbsp;Bomb</a>
                                            <li><a href='gm_rfb.html'>Rush&nbsp;For&nbsp;Berlin</a>
                                                <li><a href='gm_ccp2.html'>Codename:&nbsp;Panzers&nbsp;Phase&nbsp;Two</a>
                                                    <li><a href='gm_ccp1.html'>Codename:&nbsp;Panzers&nbsp;Phase&nbsp;One</a>
                                                        <li><a href='gm_swine.html'>S.W.I.N.E.</a></ul>
                                </li>
                                <li><a>Stormregion&nbsp;Info</a>
                                    <ul style='width:140px;'>
                                        <li><a href='/about.html'>About&nbsp;Stormregion</a>
                                            <li><a href='/contact.html'>Contact&nbsp;Stormregion</a>
                                                <li><a href='/jobs.html'>Jobs&nbsp;at&nbsp;Stormregion</a>
                                                    <li><a href='/awards.html'>Media&nbsp;/&nbsp;Awards</a>
														<li><a href='/press.html'>Press</a></ul>
                                    </li>
                                    <li><a href='/dl_pcw.html'>Downloads</a>
                                        <ul style='width:140px;'>
                                            <li><a href='/dl_pcw.html'>Codename:&nbsp;Panzers&nbsp;-&nbsp;Cold&nbsp;War</a>
                                                <li><a href='/dl_rftb'>Rush&nbsp;for&nbsp;the&nbsp;Bomb</a>
                                                    <li><a href='/dl_rfb'>Rush&nbsp;For&nbsp;Berlin</a>
                                                        <li><a href='/dl_ccp2.html'>Codename:&nbsp;Panzers&nbsp;Phase&nbsp;Two</a>
                                                            <li><a href='/dl_ccp1.html'>Codename:&nbsp;Panzers&nbsp;Phase&nbsp;One</a>
                                                                <li><a href='/dl_swine.html'>S.W.I.N.E.</a>
                                                                  <li><a href='/dl_tools'>Tools</a>
                                                                  <li><a href='/dl_goodies'>Other/Goodies</a></ul>
                                        </li>
                                        <li><a>&nbsp;&nbsp;Mods</a>
                                            <ul style='width:140px;'>
                                                <li><a href='mods/pcw'>Codename:&nbsp;Panzers&nbsp;-&nbsp;Cold&nbsp;War</a>
                                                    <li><a href='mods/rftb'>Rush&nbsp;For&nbsp;the&nbsp;Bomb</a>
															<li><a href='mods/rfb'>Rush&nbsp;For&nbsp;Berlin</a>
																<li><a href='mods/cpp2'>Codename:&nbsp;Panzers&nbsp;Phase&nbsp;Two</a>
																	<li><a href='mods/cpp1'><font style="color: red;">[NEW]</font> Codename:&nbsp;Panzers&nbsp;Phase&nbsp;One</a>
																		<li><a href='mods/swine'><font style="color: red;">[NEW]</font> S.W.I.N.E.</a></ul>
										<li><a>More</a>
										<ul style='width:140px;'>
                                                <li><a href='forum/index.html'>Forum (In-Fix)</a>
                                                  <li><a href='https://stormregion.org/wiki/'>StormWiki (old, In-Fix)</a>
                                                    <li><a href='//wiki.stormregion.org/'>StormWiki (new)</a>
															<li><a href='//wiki.stormregion.org/howtoinstallmods'>How to install mods</a>
																<li><a href='//wiki.stormregion.org/howtomod'>How to mod</a>
                                  <li><a href='/fansites.html'>Other Fan Sites</a></ul>
