	<tr>
		<td width='135' style='background-image: url(./templates/base/images/footerContent1.gif)' height='26'>&nbsp;</td>
		<td width='9'><img src='./templates/base/images/footerLeftSeparator.gif' alt='' title=''></td>
		<td width='76' style='background-image: url(./templates/base/images/footerContent2.gif)'>&nbsp;</td>
		<td width='11'><img src='./templates/base/images/footerBlueLeft.gif' alt='' title=''></td>
		<td width='538' style='background-image: url(./templates/base/images/footerBlueContent.gif)' align='center' valign='middle' class='copyRight'>
		2005 &copy; Copyright Stormregion Ltd. All rights reserved.<br>
		2018 &copy; Copyright Stormregion Community. Some rights reserved.
		</td>
		<td width='11'><img src='./templates/base/images/footerBlueRight.gif' alt='' title=''></td>
		<td width='76' style='background-image: url(./templates/base/images/footerContent2.gif)'>&nbsp;</td>
		<td width='9'><img src='./templates/base/images/footerRightSeparator.gif' alt='' title=''></td>
		<td width='135' style='background-image: url(./templates/base/images/footerContent1.gif)'>&nbsp;</td>
	</tr>
