	<table width='100%' cellpadding='0' cellspacing='0' border='0'>

<tr>
	<td colspan='2'><img src='./templates/base/images/screenShot/header.gif' alt='' title=''></td>
</tr>
<tr>
	<td bgcolor='#F4F4F4' height='5'></td>
</tr>
<tr>
	<td bgcolor='#F4F4F4' align='center' valign='bottom' height='101' width='135'>
	<a href="javascript:void(0);" onclick="window.open('/admin/screenshot/304_THUMB.jpg','','screenx=50, screeny=50,width=1024,height=768,statusbar=0,scrollbars=1');">
	<img src="/admin/screenshot/304_THUMB.jpg" width="126" border="0" alt="" title=""></a></td>
	<td width='9'></td>
</tr>
<tr>
	<td bgcolor='#F4F4F4' align='center' valign='middle' height='21' width='135'>
	<a href='screenshots.html' class='blackLink'>More</a>
	<td width='9'></td>
</tr>
<tr><td height='1' colspan='2'><img src='./templates/base/images/separator.gif' alt='' title=''></td></tr>
</table>
</td>
