<img src='./templates/base/images/poll/pollHeader.gif' alt='' title=''>
<table cellpadding='0' cellspacing='0' border='0' width='144'><tr>
  <td width='135'bgcolor='#305172'>
    <form action='redirect.php?sid=25315cc0e80cbc63b28ae8f0f9568f8c&amp;action=saveVote' method='post'>
<table width='100%' cellpadding='0' cellspacing='0' border='0'>
<tr><td colspan='4' height='7'></td></tr>
<tr>
	<td colspan='4' class='pollText' align='center'><b>How important are custom content tools for a game?</b></td>
</tr>
<tr><td colspan='4' height='7'></td></tr>
<tr>
	<td width='2'></td>
	<td align='right' valign='top'><input type='radio' name='pollItemID' value='165'></td>
	<td class='pollText'>Very Important. I use Custom content tools a lot for gaming!</td>
	<td width='2'></td>
</tr>
<tr><td colspan='4' height='8'></td></tr>
<tr>
	<td width='2'></td>
	<td align='right' valign='top'><input type='radio' name='pollItemID' value='166'></td>
	<td class='pollText'>Somewhat Important. It adds more variety for the community!</td>
	<td width='2'></td>
</tr>
<tr><td colspan='4' height='8'></td></tr>
<tr>
	<td width='2'></td>
	<td align='right' valign='top'><input type='radio' name='pollItemID' value='167'></td>
	<td class='pollText'>Not Important. I only play with the officially released content.</td>
	<td width='2'></td>
</tr>
<tr><td colspan='4' height='8'></td></tr>
<tr>
	<td colspan='4' align='center'><input type='submit' class='inputControl' value='Vote' disabled></td>
</tr>
<tr>
	<td colspan='4' align='center'><a href='index.php?sid=25315cc0e80cbc63b28ae8f0f9568f8c&amp;activeMenuID=pollAllResult' class='link'>Result</a></td>
</tr>
<tr>
	<td colspan='4' height='5' align='center'></td>
</tr>
<tr valign='bottom'>
	<td colspan='4' height='5' align='center'><a class='newsHeader'  href='http://www.stormregion.com/forum/viewtopic.php?t=293'><b>Forum</b></a></td>
</tr>
</table>
</form>
<td width='9'><img src='./templates/base/images/box/leftSeparator.gif' alt='' title=''></td>
</tr><tr>
  <td colspan='2'><img src='./templates/base/images/separator.gif' alt='' title=''>
</td>
</td>
</table>
