<tr>
	<td width='9'></td>
	<td width='135'>
		<table cellpadding='5' cellspacing='0' border='0' width='100%'>
			<tr><td bgcolor='#27415C'><a href='forum/viewtopic.html' class='simpleText'>Codename: Panzer..</a></td></tr>
			<tr><td bgcolor='#305172'><a href='forum/viewtopic.html' class='simpleText'>StormRegionnak(2..</a></td></tr>
			<tr><td bgcolor='#27415C'><a href='forum/viewtopic.html' class='simpleText'>Can't run Phase ..</a></td></tr>
			<tr><td bgcolor='#305172'><a href='//wiki.stormregion.org/howtomod' class='simpleText'>How to mod guides </a></td></tr>
			<tr><td bgcolor='#27415C'><a href='//wiki.stormregion.org/howtoinstallmods' class='simpleText'>How to install a mod</a></td></tr>
		</table>
	</td>
</tr>