                <form action='#' method='post'>
                    <table width='100%' cellpadding='3' cellspacing='0' border='0' class='simpleBlackText'>
                        <tr>
                            <td align='center' class='simpleText'>
                                <b>Log In</b>
                                <br>

                            </td>
                        </tr>
                        <tr>
                            <td align='center' valign='top'>
                                <input type='text' size='15' maxlength='25' name='login' class='inputControl' disabled>
                            </td>
                        </tr>
                        <tr>
                            <td align='center' valign='top'>
                                <input type='password' size='15' maxlength='25' name='pass' class='inputControl' disabled>
                            </td>
                        </tr>
                        <tr>
                            <td align='center'>
                                <input type='submit' value='Log In!' class='inputControl' disabled>
                            </td>
                        </tr>
                        <tr>
                            <td align='center'>
                                [<a href='#' class='link'>Registration</a>]
                            </td>
                        </tr>
                        <tr>
                            <td align='center'>
                                [<a href='#' class='link'>Password recovery</a>]
                            </td>
                        </tr>
                    </table>
                </form>
