#mid {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  font-family: monospace;
}
a {
    color: black;
	font-family: monospace;
}
a:link {
    text-decoration: none;
	font-family: monospace;
}