<div id="cookiePopupContainer" class="shown"><style>
      #cookiePopupContainer {
        position: fixed;
        width: 100%;
        z-index: 10;
        background: #00000080;
        bottom: 0;

        font-size: 14px;
        line-height: 17px;

        transition: transform, box-shadow;
        transition-duration: 500ms;
        transition-timing-function: cubic-bezier(0,0,0,1), linear;
        transform: translateY(100%);
        -webkit-transform: translateY(100%);
        box-shadow: 0 0 0 rgba(0,0,0,0.075);
        color: #fff;
        font-family: 'Cabin', Verdana, Arial, Helvetica, sans-serif;
      }

      #cookiePopupContainer.shown {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        box-shadow: 0 -1px 3px rgba(0,0,0,0.175);
      }

      #cookiePopupContainer #cookiePopupCloseButton {
        position: absolute;
        right: 30px;
        top: calc(50% - 10px);
        border-radius: 50%;
        width: 20px;
        height: 20px;
        background-color: #128070;
        cursor: pointer;
        transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20style%3D%22background-color%3A%20#128070%3B%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2030%2030%22%3E%3Crect%20width%3D%223%22%20height%3D%2220%22%20x%3D%2213.5%22%20y%3D%225%22%20fill%3D%22%23FFF%22%20rx%3D%221%22%20ry%3D%221%22%3E%3C%2Frect%3E%3Crect%20width%3D%2220%22%20height%3D%223%22%20y%3D%2213.5%22%20x%3D%225%22%20fill%3D%22%23FFF%22%20rx%3D%221%22%20ry%3D%221%22%3E%3C%2Frect%3E%3C%2Fsvg%3E);
      }

      #cookiePopupContainer #cookiePopupCloseButton:hover {
        background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20style%3D%22background-color%3A%20gray%3B%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2030%2030%22%3E%3Crect%20width%3D%223%22%20height%3D%2220%22%20x%3D%2213.5%22%20y%3D%225%22%20fill%3D%22%23FFF%22%20rx%3D%221%22%20ry%3D%221%22%3E%3C%2Frect%3E%3Crect%20width%3D%2220%22%20height%3D%223%22%20y%3D%2213.5%22%20x%3D%225%22%20fill%3D%22%23FFF%22%20rx%3D%221%22%20ry%3D%221%22%3E%3C%2Frect%3E%3C%2Fsvg%3E);
      }

      #cookiePopupContainer .cookie-text {
        padding: 28px 20px;
        text-align: center;
        margin-left: calc(10% + 210px);
        margin-right: calc(10% + 210px);
      }

      @media (max-width: 1200px) {
        #cookiePopupContainer .cookie-text {
          margin-left: 3%;
          margin-right: calc(3% + 40px);
        }
      }

      @media (max-width: 1200px) {
        #cookiePopupContainer .cookie-icon {
          display: none;
        }
      }

      @media print {
        #cookiePopupContainer {
          display: none;
        }
      }
    </style><div class="cookie-icon cookie-icon-left" style="position:absolute;width:240px;height:120px;background-size:cover;left:calc(10% - 50px);top:calc(50% - 55px);background:url(&quot;https://placehold.it/240x120&quot;) center center no-repeat;"></div><div class="cookie-popup"><div class="cookie-text">Hi! This is a site owned/controlled by bads.tm and we want to let you know that by continuing to use this site and/or our services, you are giving us right to use cookies.</div></div><div class="cookie-icon cookie-icon-right" style="position:absolute;width:240px;height:120px;background-size:cover;right:calc(10% - 50px);top:calc(50% - 50px);background:url(&quot;https://placehold.it/240x120&quot;) center center no-repeat;"></div><div onclick="makeagreedCookie()" id="cookiePopupCloseButton"></div></div>

<script src="/static/bsft/cookiejs/badscookies.js"></script>
